
$color-main:#006ac0;
$color-sec:#2773ed;

$color-tert:#20aeff;



$color-white:#FFFFFF;
$color-grey:rgba(121,121,121,1.0);
$color-darkgrey:rgba(74,74,74,1.0);
$color-black:rgba(43,43,43,1.0);
$color-darkblack:rgba(7,7,7,1.0);
$color-footer:$color-darkblack;

$color-bg:rgb(235, 241, 244);

$color-text:$color-black;


$font-stack-monospace: "Consolas", "Lucida Console", "Monaco", monospace !important;

$font-one: "Segoe UI";

$font-stack-name: "Nexa Light", Frutiger, "Open Sans", Arial, sans-serif;
$font-stack-navtop: "Segoe UI Semilight", "Segoe UI", "Frutiger", "Frutiger Linotype", "Myriad Pro", "Dejavu Sans";
$font-stack-navbottom: "Segoe UI Bold", "Frutiger", "Frutiger Linotype", "Myriad Pro", "Dejavu Sans";


$font-stack-primary: "Segoe UI", "Nexa Light", "Segoe UI", "Open Sans", sans-serif;
$font-stack-subheader: "Segoe UI Light", "Nexa Light", "Segoe UI", "Open Sans", sans-serif;
$font-stack-item: "Segoe UI Semibold", "Nexa Light", "Segoe UI", "Open Sans", sans-serif;
$font-stack-import: "Segoe UI Semibold", "Nexa Light", "Segoe UI", "Open Sans", sans-serif;

$font-stack-branch: "Segoe UI Semibold", "Nexa Light", "Segoe UI", "Frutiger", "Frutiger Linotype", Arial, sans-serif;

$font-stack-text: "Segoe UI", "Myriad Pro", "Frutiger", "Frutiger Linotype", "Dejavu Sans", sans-serif;


$font-stack-h1: ;
$font-stack-h2: ;
$font-stack-h3: ;
$font-stack-h4: ;
$font-stack-h5: ;
$font-stack-h6: ;




$font-stack-segoe: "Segoe UI", "Frutiger", "Frutiger Linotype", "Myriad Pro", "Dejavu Sans", sans-serif;

$font-stack-discuss: "Segoe UI Semibold", "Myriad Pro", "Dejavu Sans", "Frutiger", "Frutiger Linotype", Arial, sans-serif;
$font-stack-caption: "Segoe UI", "Myriad Pro", "Dejavu Sans", "Frutiger", "Frutiger Linotype", Arial, sans-serif;
$font-stack-tags: "Segoe UI Semilight", "Myriad Pro", "Dejavu Sans", "Frutiger", "Frutiger Linotype", Arial, sans-serif;

$font-stack-list: "Segoe UI Semilight", "Myriad Pro", "Dejavu Sans", "Frutiger", "Frutiger Linotype", Arial, sans-serif;


@mixin text-body {
  font: normal normal 300 12pt/1.5 $font-one;
  font-family: $font-stack-text;
  color: $color-text;
}

@mixin text-caption {
  font: normal normal 300 10pt/1.5 $font-one;
  font-family: $font-stack-caption;
}

@mixin text-tags {
  font: normal normal 300 11pt/1.5 $font-one;
  font-family: $font-stack-tags;
}

@mixin text-blockquote-p {
  font: normal normal 300 14pt/21pt $font-one;
  font-family: $font-stack-text;
  color: $color-black;
}

@mixin text-blockquote-cite {
  font: normal normal 300 11pt/20pt $font-one;
  color: $color-text;
}

@mixin text-selected {

  a {
    &:hover {
      color: $color-bg;
      background-color: $color-main;
    }

    &:active {
      color: $color-bg;
      background-color: $color-main;
    }
  }
}

@mixin text-selected-clear {
}

@mixin clear-margin-padding {
  margin: 0;
  padding: 0;
}

@mixin transition-ease {
}


@mixin texts ( $txt-decoration, $weight, $border, $bg-colour, $txt-colour ) {
    text-decoration:  $txt-decoration;
    font-weight:      $weight;
    border:           $border;
    background-color: $bg-colour;
    color:            $txt-colour;
}


@mixin social-links ( $link-id, $link-url ) {
  header #links a##{$link-id} {
    width: 24px;
    height: 24px;
    background: url($link-url) top;
    background-size: 24px;
    background-repeat: no-repeat;
    text-indent: -99999px;
  }

  header #links a##{$link-id}:hover {
    background-position: 0 -24px;
  }
}
