$color-main:#F67280;
$color-sec:#3C5781;
$color-tert:#957AAD;


$color-white:#ffffff;
$color-lightgrey:#D9D9D9;
$color-grey:rgba(121,121,121,1.0);
$color-darkgrey:rgba(74,74,74,1.0);
$color-black:rgba(43,43,43,1.0);
$color-darkblack:rgba(7,7,7,1.0);


$color-bg:#ffffff;

$color-text:$color-darkgrey;

$color-nav:#636C7A;
$color-navhover:#F67280;
