$color-blue: rgba(0,180,255, 1.0);
$color-yellow: rgba(255, 153, 0, 1.0);

$color-red: rgba(159,17,27, 1.0);
$color-light-red: rgba(222,172,173, 1.0);

$color-black: rgba(23,23,23, 1.0);
$color-dark-gray: rgba(81,81,81, 1.0);
$color-gray: rgba(169,167,174, 1.0);
$color-light-gray: rgba(238,238,238, 1.0);
$color-white: rgba(255,255,255, 1.0);
