$color-blue: rgba(50, 153, 187, 1.0);
$color-yellow: rgba(255, 153, 0, 1.0);
$color-red: rgba(153, 1, 0, 1.0);

$color-white: rgba(246, 246, 246, 1.0);
$color-black: rgba(26, 26, 26, 1.0);

$color-hovergray: rgba(138, 138, 138, 1.0);
$color-darkgray: rgba(66, 66, 66, 1.0);
$color-darkgray-inactive: rgba(66, 66, 66, 0.4);
$color-lightgray: rgba(188, 188, 188, 1.0);

$color-bg:$color-white;