@mixin transition-ease ( $num-in ){
    -webkit-transition: all $num-in ease-in-out;
    -moz-transition: all $num-in ease-in-out;
    -o-transition: all $num-in ease-in-out;
    transition: all $num-in ease-in-out;
}

@mixin texts ( $border, $bg-colour, $txt-colour ) {
    text-decoration:  none;
    font-weight:      normal;
    border:           $border;
    background-color: $bg-colour;
    color:            $txt-colour;
}
