@import "mixins";

/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/

@font-face {
    font-family: 'Nexa Bold';
    src: url('/fonts/Nexa Bold.eot');
    src: url('/fonts/Nexa Bold.eot?#iefix') format('eot'),
         url('/fonts/Nexa Bold.svg#nexa_lightregular') format('svg'),
         url('/fonts/Nexa Bold.woff') format('woff'),
         url('/fonts/Nexa Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa Light';
    src: url('/fonts/nexa_light-webfont.eot');
    src: url('/fonts/nexa_light-webfont.eot?#iefix') format('eot'),
         url('/fonts/nexa_light-webfont.svg#nexa_boldregular') format('svg'),
         url('/fonts/nexa_light-webfont.woff') format('woff'),
         url('/fonts/nexa_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$font-stack-monospace: "Consolas", "Lucida Console", "Monaco", monospace !important;

$font-one: "Open Sans";

$font-stack-name: "Nexa Bold", "Open Sans", "Raleway", sans-serif;

$font-stack-primary: "Open Sans";
$font-stack-text: "Open Sans", "Myriad Pro";

$font-stack-h1: $font-one;
$font-stack-h2: $font-one;
$font-stack-h3: $font-one;
$font-stack-h4: $font-one;
$font-stack-h5: $font-one;
$font-stack-h6: $font-one;

p {
  display : block;
  margin  : 21px 0;
  padding : 0px 0;

  font    : normal normal 300 14pt/1.6 $font-one;

  color   : $color-text;

  a {
    display: inline-block;

    &:link {
      @include texts( none, transparent, $color-main);
      border-bottom   : 1px dotted $color-main;
    }

    &:visited {
      @include texts( none, transparent, $color-main);
      border-bottom   : 1px dotted $color-main;
    }

    &:hover {
      @include texts( none, $color-main, $color-bg);
      border-bottom   : 1px dotted $color-main;
    }

    &:active {
      @include texts( none, $color-main, $color-bg);
      border-bottom   : 1px dotted $color-main;
    }

  }

  &.caption {
    font-weight: 500;
    font-size: 80%;
    font-color: $color-grey;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family     : $font-one;
  font-weight     : normal;
  color           : $color-text;

  padding         : 0;
  margin          : 0;
  text-align      : left;
  text-decoration : none;
  vertical-align  : bottom;
  border          : none;

  background-color: transparent;

  a {
    @include transition-ease(300ms);

    &:link {
      @include texts( none, transparent, $color-main);
    }
    &:visited {
      @include texts( none, transparent, $color-main);
    }
    &:hover {
      @include texts( none, transparent, $color-sec);
    }
    &:active {
      @include texts( none, transparent, $color-sec);
    }
  }
}

h1 {
  font-size: 50pt;
}

h2 {
  font-size: 36pt;
  font-weight: bold;
}

h3 {
  font-size: 28pt;
}

h4 {
  font-size: 24pt;
}

h5 {
  font-size: 20pt;
}

h6 {
  font-size: 16pt;
}

.display-lead {
  font-size: 1.2em;
  color: $color-bg;
}

.display-name {
  margin: 15px 20px;
  display: block;  
  text-transform: uppercase;
  font-size: 4em;
  color: $color-white;
}



.simple-large {

  text-align: center;
  border: 1px solid transparent;

  a {
    position: relative;
    display: inline-block;
    margin: 15px 20px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 4500;
    text-shadow: 0 0 1px rgba(255,255,255,0.5);
    font-size: 1.3em;

    padding    : 8px;
    color      : $color-sec;
    border: 1px solid transparent;

    &:link {
      @include texts( none, transparent, $color-text);
      border: 1px solid $color-lightgrey;
    }
    &:visited {
      @include texts( none, transparent, $color-text);
      border: 1px solid $color-lightgrey;
    }
    &:hover {
      @include texts( none, $color-main, $color-bg);
      border: 1px solid $color-main;
    }
    &:active {
      @include texts( none, $color-main, $color-bg);
      border: 1px solid $color-main;
    }
  }

}

.front-page-container .simple-large {
  a {
    color : $color-bg;
  }
}

ul.simple-small {
  list-style-type: none;

  border: 1px solid $color-lightgrey;
  margin: 0;
  padding: 0;

  li {
    font: normal normal 400 12pt/18pt $font-one;

    padding: 0;
    margin: 0;

    &:hover {
      color: $color-bg;
      background-color: $color-main;
    }

    &:active {
      color: $color-bg;
      background-color: $color-main;
    }

    a {
      display: block;
      padding: 1px 4px;

      &:link {
        @include texts( none, transparent, $color-text);
        border: 1px solid $color-lightgrey;
      }
      &:visited {
        @include texts( none, transparent, $color-text);
        border: 1px solid $color-lightgrey;
      }
      &:hover {
        @include texts( none, $color-main, $color-bg);
        border: 1px solid $color-main;
      }
      &:active {
        @include texts( none, $color-main, $color-bg);
        border: 1px solid $color-main;
      }
    }
  }
}
