/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


@import "bases";


/* import reset - normalise.css */



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}



/* #Body
================================================== */


	html {
		overflow-y: scroll;
    -webkit-overflow-x: hidden;
    -ms-overflow-x: hidden;
    -o-overflow-x: hidden;
    overflow-x: hidden;
	}

	body {
		-webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
		background-color: $color-bg;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .whole-page {
    height: auto;
    min-height: 100%;
    padding-bottom: 200px;
  }

	*, *:before, *:after {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}


/* #Common Snippets
================================================== */

	.hide { display: none; }
	.block, .show { display: block;}

	.in-line{ display: inline; }
	.in-line-block{ display: inline-block; }
	.no-wrap{ white-space: nowrap; }

	.center { text-align: center;}
	.center-wrapper-outer { text-align: center; }
	.center-wrapper-inner { display: inline-block;}

	.text-left { text-align: left; }
	.text-right { text-align: right; }

	.float-left { float: left; }
	.float-right { float: right; }

	.disabled {
		pointer-events: none;
		opacity: 0.5;
	}

	.italic { font-style: italic; }
	.bold { font-weight: bold; }


/* #Typography
================================================== */


	p {
		display    : block;
		margin     : 0px;
		padding    : 0px;
    @include text-body;

  	a {
  		display           : inline-block;

      &:link    {
    		text-decoration : none;
    		font-weight     : normal;
        border          : none;
    		border-bottom   : 1px dotted $color-main;
    		background-color: transparent;
    		color           : $color-main;
      }

      &:visited {
    		text-decoration : none;
    		font-weight     : normal;
        border          : none;
        border-bottom   : 1px dotted $color-main;
    		background-color: transparent;
    		color           : $color-main;
      }

      &:hover   {
    		text-decoration : none;
    		font-weight     : normal;
    		border          : none;
        border-bottom   : 1px solid $color-main;
    		background-color: $color-main;
    		color           : #FFFFFF;
      }

      &:active  {
    		text-decoration : none;
    		font-weight     : normal;
    		border          : none;
        border-bottom   : 1px solid $color-main;
    		background-color: transparent;
    		color           : $color-main;
    	}

    }

  }

	h1, h2, h3, h4, h5, h6 {
		font-family     : $font-one;
		margin          : 4px 0;
		text-align      : left;
		text-decoration : none;
		vertical-align  : bottom;
		border          : none;
		background-color: transparent;
    a {
      @include transition-ease(500ms);
      &:link {
        @include texts(none, normal, none, transparent, $color-main);
      }
      &:visited {
        @include texts(none, normal, none, transparent, $color-main);
      }
      &:hover {
        @include texts(none, normal, none, transparent, $color-main);
      }
      &:active {
        @include texts(none, normal, none, transparent, $color-main);
      }
    }
  }

  h1 {

    display: block;

    color       : $color-text;
    font: normal normal 100 56pt/1.2 $font-one;
    font-family : $font-stack-h1;

    a {
      &:hover {
        color: $color-bg;
      }

      &:active {
        color: $color-bg;
        display: block;
        line-height : 56pt;
        border-left : 56pt solid transparent;
        padding: 0 10px;

        &:link {
          color       : $color-text;
        }

        &:visited {
          color       : $color-text;
        }

        &:hover {
          color       : $color-bg;
          background-color: $color-main;
        }

        &:active {
          color       : $color-bg;
          background-color: $color-main;
        }
      }
    }
  }

  h2 {

    display: block;

    color       : $color-text;
    font: normal normal 100 38pt/40pt $font-one;
    font-family : $font-stack-h2;

    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;

    a {

      display: block;
      padding: 8px 5px 0 5px;

      &:link {
        color       : $color-text;
      }

      &:visited {
        color       : $color-text;
      }

      &:hover {
        color       : $color-bg;
        background-color: $color-main;
      }

      &:active {
        color       : $color-bg;
        background-color: $color-darkgrey;
      }
    }
  }

  h3 {
    display: block;

    font-weight: bold;

    color       : $color-text;
    font: normal normal 100 24pt/1.4 $font-one;
    font-family : $font-stack-h3;

    @include text-selected;

    a {
      padding: 0 4px;
      display: inline-block;

      &:link {
        color       : $color-text;
      }

      &:visited {
        color       : $color-text;
      }

      &:hover {
        color       : $color-bg;
      }

      &:active {
        color       : $color-bg;
      }
    }
  }

  h4 {
    display: block;

    color       : $color-text;
    font: normal normal 100 18pt/1.4 $font-one;
    font-family : $font-stack-h4;

    @include text-selected;

    a {
      padding: 0 4px;
      display: inline-block;

      &:link {
        border-bottom : 1.5px dotted $color-text;
        color       : $color-text;
      }

      &:visited {
        border-bottom : 1.5px dotted $color-text;
        color       : $color-text;
      }

      &:hover {
        border-bottom : 1.5px dotted $color-main;
        color       : $color-bg;
      }

      &:active {
        border-bottom : 1.5px dotted $color-main;
        color       : $color-bg;
      }
    }
  }

  h5 {
    display: block;

    color       : $color-text;
    font: normal normal 100 11pt/1.4 $font-one;
    font-family : $font-stack-h5;
    @include text-selected;

    a {
      padding: 0 3px;
      display: inline-block;

      &:link {
        color       : $color-text;
        text-decoration: underline;
      }

      &:visited {
        color       : $color-text;
        text-decoration: underline;
      }

      &:hover {
        color       : $color-bg;
        text-decoration: none;
      }

      &:active {
        color       : $color-bg;
        text-decoration: none;
      }
    }
  }

	h6 {
    display: block;

    color       : $color-text;
    font: normal normal 100 9pt/1.4 $font-one;
    font-family : $font-stack-h6;

    text-transform: uppercase;
    @include text-selected;

    a {
      padding: 0 2px;
      display: inline-block;

      &:link {
        color       : $color-text;
        border-left: 1px solid $color-text;
      }

      &:visited {
        color       : $color-text;
        border-left: 1px solid $color-text;
      }

      &:hover {
        color       : $color-bg;
        border-left: 1px solid $color-main;
      }

      &:active {
        color       : $color-bg;
        border-left: 1px solid $color-main;
      }
    }
  }


/* #Quotes
================================================== */

	blockquote {
    border-left: 1px solid $color-text;
    border-right: 1px solid transparent;

    text-align: center;

		margin          : 40px 0 40px 5px;
		padding         : 10px 15px;

    p {
      @include text-blockquote-p;

  		padding: 0 2px;
      margin: 20px 2px;
      font-style: italic;

      strong {
        font-style: normal;
        font-weight: normal;
      }
  	}

    cite {
      @include text-blockquote-cite;

      padding: 0 2px;
  		text-transform: uppercase;

      &:before {
        content: "\2014 \0020";
      }
    }
	}


/* #Ruled lines
================================================== */

	hr {

    text-align: center;

    border: 0;
    height: 0;

    color: $color-grey;
    background: $color-grey;

    width: 100%;
		margin: 50px 0;

    float: none;
    clear: both;

  	&.line {
      height: 2px;
      color: $color-main;
      background: $color-main;

      margin-left: auto;
  		margin-right: auto;
  	}

  	&.space {
  		color: $color-bg;
      background: $color-bg;
  		visibility: hidden;
  	}

  }



/* #Section
================================================== */

  section {

    margin: 15px 0;
    padding: 0;

    header {

      margin: 0;

      h2 a {
        padding: 10px 10px 0 10px;
      }

      .tags {

        @include text-tags;
        color: $color-text;
        text-transform: uppercase;
        text-align: right;
      }

      .caption {
        p {
          padding: 0 5px 5px 5px;

          @include text-caption;
          color: $color-text;
        }
      }
    }

    .content {
      margin: 0 0 10px 0;
      padding: 0;

      p {
        margin: 10px 0;
        padding: 5px 0;

        @include text-body;
      }

    }


    &.archives {
      header {
        border-bottom: 1px solid $color-grey;

        h3 {

          color       : $color-bg;
          background-color: $color-darkgrey;
          border: none;
          font: normal normal 300 14pt/30pt $font-one;
          font-family : $font-stack-import;
          padding: 0;
          margin: 0;

          text-transform: uppercase;

          @include text-selected;
          a {
            padding-left: 4px;
            border: none;
            color       : $color-bg;
            line-height: 30pt;
          }
        }

        .tags {
          font-size: 11pt;
        }

      }
    }

    &.branch {
      header {
        margin: 0;
        padding: 0;
        h2 {
          color       : $color-black;
          font-size: 40pt;
          padding: 8px 5px 0 5px;
        }

        .caption  {
          p {
            padding: 0 5px 5px 5px;
            @include text-caption;
            color: $color-text;
            &:before {
              content: "\2014 \0020";
            }
          }
        }
      }

      .content {
        margin: 0;
        padding: 0;

        p {
          margin: 10px 0;
          padding: 5px 0;

        }

      }
    }
    &.branch:hover {
      header {
        @include transition-ease(250ms);
        h2 {
          background-color: $color-main;
          color: $color-bg;
        }
      }
    }
  }



/* #Article
================================================== */


  article {
    display: block;

    margin: 0 0 100px 0;
    padding: 4px 0;

    header {

      margin: 0;
      padding: 0;

      a {
        padding: 10px 15px 0 15px;
      }

      .icon {
        font-size: 75%;
      }

      .tags {
        @include text-tags;
        color: $color-darkgrey;
        text-align: left;
        padding-left: 15px;
      }

      .date {
        white-space: nowrap;
      }
    }

    .content {
      margin: 10px 0;
      padding: 2px 0;

      p {
        margin: 10px 0;
        padding: 5px 0;

        @include text-body;
      }

      li {
        font: normal normal 300 11pt/13pt $font-one;
      }

      h1, h2, h3, h4, h5, h6,
      h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        border: 0;
        background: none;
        color: $color-text;
        text-transform: none;
      }
    }

    .more-info {
      font: normal normal 300 10pt/12pt $font-one;
      font-family: $font-stack-discuss;
      color: $color-text;

      text-transform: uppercase;

      a {

        &:link {
          text-decoration:  none;
          font-weight:      normal;
          background-color: transparent;
          color:            $color-text;
          border-bottom: 1px dotted $color-text;
        }

        &:visited {
          text-decoration:  none;
          font-weight:      normal;
          background-color: transparent;
          color:            $color-text;
          border-bottom: 1px dotted $color-text;
        }

        &:hover   {
          text-decoration:  none;
          font-weight:      normal;
          background-color: transparent;
          color:            $color-main;
          border-bottom: 1px solid $color-main;
        }

        &:active  {
          text-decoration:  none;
          font-weight:      normal;
          background-color: transparent;
          color:            $color-main;
          border-bottom: 1px solid $color-main;
        }

        &.discuss {
          float: right;
        }

        &.read-more {
          float: left;
        }
      }
    }

  }




/* #Posts
================================================== */

	.permalink { float: right; }

  .pagination {
  	.older { float: right; }
  	.newer { float: left; }
  }

/* #Lists
================================================== */

	ul, ol {
		margin: 2px 10px 2px 0px;
		padding: 2px 5px 2px 0px;
		font-size: 14px;

    &.full-left {
      padding-left: 0;
    }
	}

  ol {
    list-style: decimal;
  }

	ul {
    list-style-type:square;
    list-style-position: inside;

    &.none {
      list-style-type:none;
    }

    &.square {
      list-style-type:square;
    }

    &.circle {
      list-style-type: circle;
    }

    &.disc {
      list-style-type:disc;
    }

    li {

      display: list-item;
      color: $color-text;

      padding: 2px;
      margin: 1px 0;

      a {
        display: block;

        padding: 4px;

        &:link    {
          text-decoration:  none;
          font-weight:      normal;
          border:           none;
          background-color: transparent;
          color:            $color-main;
        }

        &:visited {
          text-decoration:  none;
          font-weight:      normal;
          border:           none;
          background-color: transparent;
          color:            $color-main;
        }

        &:hover   {
          text-decoration:  none;
          font-weight:      normal;
          border:           none;
          background-color: $color-main;
          color:            #FFFFFF;
        }

        &:active  {
          text-decoration:  none;
          font-weight:      normal;
          border:           none;
          background-color: transparent;
          color:            $color-main;
        }
      }
    }
  }

  ul.simple-small {
    list-style-type: none;

    border: none;
    margin: 0;
    padding: 0;

    li {

      font: normal normal 300 12pt/18pt $font-one;

      padding: 0;
      margin: 0;

      color: $color-darkgrey;

      @include text-selected;

      a {

        display: block;

        padding: 1px 4px;

        &:link {
          text-decoration:  none;
          font-weight:      normal;
          background-color: transparent;
          color:            $color-darkgrey;
        }

        &:visited {
          text-decoration:  none;
          font-weight:      normal;
          background-color: transparent;
          color:            $color-darkgrey;
        }

        &:hover {
          text-decoration:  none;
          font-weight:      normal;
          color:            $color-bg;
          background-color: $color-main;
        }

        &:active {
          text-decoration:  none;
          font-weight:      normal;
          color:            $color-bg;
          background-color: $color-main;
        }
      }
    }
  }


	ul.simple-large {
    list-style-type: none;

    border: none;
	  margin: 0;
	  padding: 0;

  	li {

      margin: 0;
      padding: 0;

      font: normal normal 300 20pt/30pt $font-one;
      font-family: $font-stack-list;

      color: $color-darkgrey;


      a {

        display: block;

        &:link {
          text-decoration:  none;
          font-weight:      normal;
          background-color: transparent;
          color:            $color-darkgrey;
        }

        &:visited {
          text-decoration:  none;
          font-weight:      normal;
          background-color: transparent;
          color:            $color-darkgrey;
        }

        &:hover {
          text-decoration:  none;
          font-weight:      normal;
          color:            $color-bg;
          background-color: $color-main;
        }

        &:active {
          text-decoration:  none;
          font-weight:      normal;
          color:            $color-bg;
          background-color: $color-main;
        }
      }
    }
  }


	dl {
		margin: 20px 0;
    color: $color-text;

  	dt {
      border-width: 2px;
      border-style: solid;
      border-color: $color-darkgrey;
      background-color: $color-main;
      color: #FFFFFF;

      font: normal normal 300 14pt/18pt $font-one;

      padding: 2px;
      margin: 4px;
      float: left;
  	}

    dd {
      border-left: 2px solid $color-darkgrey;

      margin: 1px 4px;
      padding: 0 5px;

      clear: both;

      p {
        font: normal normal 300 12pt/16pt $font-one;
      }
    }

  }


/* #Images
================================================== */

	img:link,
	img:active,
	img:visited,
	a img:link,
	a img:active,
	a img:visited,
	img:hover,
	a img:hover {
		background: 0;
		border: 0;
		text-decoration: none;
		text-shadow: none;
	}

	img.scale-with-grid {
		max-width: 100%;
		height: auto;
	}

	.parent-padding { padding: 10% 0; }
	.child-padding { padding: 10% 0; }


/* #Pygments
================================================== */

	pre, pre code > .highlight {
		margin: 2px;
	}

	code, code > .highlight{
	  font-family: $font-stack-monospace;
	  background-color: #FAFAFA;
	  border: 1px solid #CCCCCC;
	  margin: 0;
	  padding: 1px 3px;
	  white-space: pre;
	  overflow: auto;
	}

	.highlight pre code {
	  background-color: #111111;
	  border: 1px solid $color-darkgrey;
	  color: #FFFFFF;
	  display: block;
	  font-family: $font-stack-monospace;
	  font-size: 11pt;
	  line-height: 1.6em;
	  margin: 0 0 1.5em;
	  padding: 0.7em;
	  white-space: pre;
	  overflow: auto;
	  /*
	  -moz-border-radius: 7px 7px 7px 7px;
	  border-bottom-left-radius: 7px 7px;
	  border-bottom-right-radius: 7px 7px;
	  border-top-left-radius: 7px 7px;
	  border-top-right-radius: 7px 7px;
	  */
	}

/* #Figures
================================================== */

  figure {
  }

  figcaption {
  }



@import "bases";


.status {

  &.complete, &.green {
    color: green;
  }

  &.in-progress, &.yellow {
    color: orange;
  }

  &.upcoming, &.red {
    color: red;
  }

  &.abandoned, &.grey {
    color: #AAAAAA;
  }
}

a.status {

  &.complete, &.green {
    color: green;

    &:hover {
      background-color: green;
      color: $color-bg;
    }
  }

  &.in-progress, &.yellow {
    color: orange;

    &:hover {
      background-color: orange;
      color: $color-bg;
    }
  }

  &.upcoming, &.red {
    color: red;

    &:hover {
      background-color: red;
      color: $color-bg;
    }
  }

  &.abandoned, &.grey {
    color: #AAAAAA;

    &:hover {
      background-color: #AAAAAA;
      color: $color-bg;
    }
  }

}

.icon {
  font-size: 75%;
}
