@import "colors";
@import "typography";

/* import reset */

/* #Media Queries
================================================== */

// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */


/* #Body
================================================== */


	html {
		overflow-y: scroll;
	    -webkit-overflow-x: hidden;
	    -ms-overflow-x: hidden;
	    -o-overflow-x: hidden;
	    overflow-x: hidden;
	}

	body {
		-webkit-text-size-adjust: 100%;
    	-webkit-font-smoothing: antialiased;
		background-color: $color-bg;
	}

	*, *:before, *:after {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}


/* #Common Snippets
================================================== */

	.no-wrap{ white-space: nowrap; }

	.italic { font-style: italic; }
	.bold { font-weight: bold; }

	img.scale-with-grid {
		max-width: 100%;
		height: auto;
	}


/* #Normal stuff
================================================== */

	li {
		font-family: $font-open;
		font-size: 1.1rem;
		color: $color-darkgray;
	}

	p {
		font-family: $font-open;
		color: $color-darkgray;
		font-size: 1.1rem;

		a {
			display: inline-block;

			-webkit-transition: color 50ms ease 50ms;
			-moz-transition: color 50ms ease 50ms;
			-o-transition: color 50ms ease 50ms;
			transition: color 50ms ease 50ms;

			border-bottom: 2px dotted transparent;
		}

		a:link, a:visited {
			color: $color-blue;
			border-bottom: 2px dotted $color-blue;
		}

		a:hover {    
			color: $color-bg;
			background: $color-blue;
			border-bottom: 2px dotted transparent;
		}

		a:active {    
			color: $color-bg;
			background: $color-darkgray;
			border-bottom: 2px dotted transparent;
		}
	}


	h1, h2, h3, h4, h5, h6 {
		font-family: $font-nexa;
		display: block;
		text-transform: uppercase;

		color: $color-darkgray;

		&.bg {
			background: $color-blue;
			color: $color-bg;

			padding-top: 0.3rem;
			padding-left: 0.3rem;
			padding-right: 0.3rem;
		}

		a {
			color: $color-blue;
			display: block;

			&.bg {
				background: $color-darkgray;
				color: $color-bg;
				padding-top: 0.3rem;
				padding-left: 0.3rem;
				padding-right: 0.3rem;

				&:hover {
					background: $color-hovergray;
				}

				&:active {
					background: $color-darkgray;
					color: $color-bg;
				}
			}
		}
	}


	.button {
		font-family: $font-nexa;
		text-transform: uppercase;
	}

	.work-entry {
		margin-bottom: 2.0rem;

		.work-title {
			margin-bottom: 0;

			.title, .company {
				font-family: $font-open;
				text-transform: uppercase;
				font-weight: bold;
				display: inline-block;
			}

			.company {
				color: $color-hovergray;
			}
		}

		.work-date {
			white-space: nowrap;
			text-transform: uppercase;
			font-size: 0.8rem;
			margin-top: 0;
			margin-bottom: 1rem;
		}

		.work-description {
			margin-top: 1.0rem;

			li {
				font-size: 1.0rem;
			}
		}
	}


/* #Main Menu
================================================== */

	// Small screens
	@media only screen { 
		div#nex-menu #nex-menu-lastname {
			display: none;
		}
	} /* Define mobile styles */

	// Medium screens
	@media only screen and (min-width: 32.063em) { 
		div#nex-menu #nex-menu-lastname {
			display: inline;
		}
	} /* min-width 641px, medium screens */


	div#nex-menu {

		font-family: $font-nexa;
		margin-top: 3.0rem;
		margin-bottom: 5.0rem;

		.row {
		}

		a {
			font-size: 5.0rem;
			text-transform: uppercase;
			color: $color-darkgray-inactive;
			display: block;
			width: 100%;
			padding: 0.6rem 0.6rem 0 0.6rem;

			-webkit-transition: color 100ms ease 100ms;
			-moz-transition: color 100ms ease 100ms;
			-o-transition: color 100ms ease 100ms;
			transition: color 100ms ease 100ms;
		}

		a.active {
			color: $color-bg;
			background: $color-yellow;
		}

		a:hover {    
			color: $color-darkgray;
		}

		a:active {    
			color: $color-bg;
			background: $color-darkgray;
		}

	}





/* #Page Specific CSS */

/* #Home
================================================== */

	.home-social {
		a {
			white-space: nowrap;
		}
	}

	.home-background {
		background: url(/images/nebula_bg.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		min-height: 100%;
		width: 100%;
		height: 1080px;
	}

	.home-title-quote {
		p {
			font-family: Lato, sans-serif;
			font-size: 2.2rem;
			font-weight: 300;
		    color: $color-white;
	    	margin: 1rem 0;
		}

	    border-left: none;
	    background: rgba(0, 0, 0, 0.35);
	    margin: 2rem 0 4rem;
	    padding-bottom: 1rem;
	}



/* #About
================================================== */

	.about-quotes {

		blockquote {
			border-left: 2px solid $color-blue;
			background: $color-ultralightgray;

			padding: 1.6rem;
			margin: 3.2rem 0;

			p {
				font-size: 1.2rem;
				color: $color-darkgray;
				padding: 0.6rem 1.6rem;
			}

			cite {
				color: $color-darkgray;
				float: right;
				margin-bottom: 0.6rem;
			}
		}
	}

/* #Blog
================================================== */

	.tags {
		text-transform: uppercase;
		font-size: 0.8rem;
	}

	.next, .previous {
		font-family: $font-nexa;
	}

	.post {
		margin-bottom: 8.0rem;
	}

// Small screens
@media only screen { 

	.youtube {
		height: 170px;
		width: 285px;
	}

}

@media only screen and (min-width: 64.063em) { 

	.youtube {
		height: 240px;
		width: 460px;
	}

} /* min-width 1025px, large screens */