/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */
/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/
@font-face {
  font-family: 'Nexa Bold';
  src: url("/fonts/Nexa Bold.eot");
  src: url("/fonts/Nexa Bold.eot?#iefix") format("eot"), url("/fonts/Nexa Bold.svg#nexa_lightregular") format("svg"), url("/fonts/Nexa Bold.woff") format("woff"), url("/fonts/Nexa Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* import reset */
/* #Media Queries
================================================== */
/* Define mobile styles */
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
/* min-width 641px, medium screens */
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
/* min-width 1025px, large screens */
/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
/* min-width 1441px, xlarge screens */
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
/* min-width 1921px, xlarge screens */
/* #Body
================================================== */
html {
  overflow-y: scroll;
  -webkit-overflow-x: hidden;
  -ms-overflow-x: hidden;
  -o-overflow-x: hidden;
  overflow-x: hidden; }

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: white; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* #Common Snippets
================================================== */
.no-wrap {
  white-space: nowrap; }

.italic {
  font-style: italic; }

.bold {
  font-weight: bold; }

img.scale-with-grid {
  max-width: 100%;
  height: auto; }

/* #Normal stuff
================================================== */
p, li {
  font-family: "Open Sans";
  color: #1a1a1a;
  font-size: 1.1rem;
  font-weight: 400; }
  p a, li a {
    display: inline-block;
    -webkit-transition: color 50ms ease 50ms;
    -moz-transition: color 50ms ease 50ms;
    -o-transition: color 50ms ease 50ms;
    transition: color 50ms ease 50ms;
    border-bottom: 2px dotted transparent; }
  p a:link, p a:visited, li a:link, li a:visited {
    color: #8c0d0d;
    border-bottom: 2px dotted #8c0d0d; }
  p a:hover, li a:hover {
    color: white;
    background: #8c0d0d;
    border-bottom: 2px dotted transparent; }
  p a:active, li a:active {
    color: white;
    background: #990100;
    border-bottom: 2px dotted transparent; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  display: block;
  text-transform: uppercase;
  color: #1a1a1a;
  margin-top: 2rem; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #1a1a1a;
    display: block; }
    h1 a.bg, h2 a.bg, h3 a.bg, h4 a.bg, h5 a.bg, h6 a.bg {
      background: #8c0d0d;
      color: white;
      padding-top: 0.3rem;
      padding-left: 0.3rem;
      padding-right: 0.3rem; }
      h1 a.bg:hover, h2 a.bg:hover, h3 a.bg:hover, h4 a.bg:hover, h5 a.bg:hover, h6 a.bg:hover {
        background: #a8a8a8; }
      h1 a.bg:active, h2 a.bg:active, h3 a.bg:active, h4 a.bg:active, h5 a.bg:active, h6 a.bg:active {
        background: #1a1a1a; }

ul.square li {
  color: #a8a8a8; }

.button {
  font-family: "Nexa Bold";
  text-transform: uppercase; }

.work-resume {
  text-align: center; }
  .work-resume a {
    font-size: 3.6rem; }
    .work-resume a span {
      color: #8c0d0d; }
      .work-resume a span:hover {
        color: #1a1a1a; }
      .work-resume a span:active {
        color: #a8a8a8; }

.work-entry {
  margin-bottom: 1.0rem;
  margin-top: 0rem; }
  .work-entry .work-title {
    margin-bottom: 0;
    display: inline-block;
    font-family: "Raleway";
    font-weight: 400; }
    .work-entry .work-title .link {
      font-size: 1.3rem;
      display: inline-block;
      vertical-align: middle; }
    .work-entry .work-title .company {
      color: #a8a8a8; }
    .work-entry .work-title a {
      color: #8c0d0d;
      display: block; }
      .work-entry .work-title a:hover {
        color: #1a1a1a; }
      .work-entry .work-title a:active {
        color: #a8a8a8; }
  .work-entry .work-date {
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem; }
  .work-entry .work-description {
    margin-top: 1.0rem; }
    .work-entry .work-description li {
      color: #1a1a1a;
      font-size: 1.0rem; }

/* #Main Menu
================================================== */
@media only screen {
  div#nex-menu #nex-menu-lastname {
    display: none; } }
/* Define mobile styles */
@media only screen and (min-width: 32.063em) {
  div#nex-menu #nex-menu-lastname {
    display: inline; } }
/* min-width 641px, medium screens */
div#nex-menu {
  font-family: "Nexa Bold";
  margin-top: 3.0rem;
  margin-bottom: 5.0rem; }
  div#nex-menu a {
    font-size: 5.0rem;
    text-transform: uppercase;
    color: #a8a8a8;
    display: block;
    width: 100%;
    padding: 0.6rem 0.6rem 0 0.6rem;
    -webkit-transition: color 100ms ease 100ms;
    -moz-transition: color 100ms ease 100ms;
    -o-transition: color 100ms ease 100ms;
    transition: color 100ms ease 100ms; }
  div#nex-menu a:hover {
    color: white;
    background: #a8a8a8; }
  div#nex-menu a:active {
    color: white;
    background: #8c0d0d; }
  div#nex-menu a.active {
    color: white;
    background: #990100; }
    div#nex-menu a.active:hover {
      background: #a8a8a8; }
    div#nex-menu a.active:active {
      color: white;
      background: #8c0d0d; }

/* #Page Specific CSS */
/* #Home
================================================== */
.home-background {
  background: url(/assets/img/background_5.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: inset 0 -35px 35px -20px #000, inset 0 35px 35px -20px #000;
  -moz-box-shadow: inset 0 -35px 35px -20px #000, inset 0 35px 35px -20px #000;
  box-shadow: inset 0 -35px 35px -20px #000, inset 0 35px 35px -20px #000;
  min-height: 100%;
  width: 100%;
  height: 100%; }
  .home-background .home-title-quote {
    border-left: none;
    margin: 2rem 0 4rem;
    padding-bottom: 1rem; }
    .home-background .home-title-quote p {
      font-family: "Raleway";
      font-size: 2.2rem;
      font-weight: 300;
      color: white;
      margin: 1rem 0;
      text-shadow: 1px 1px 1px black; }

.home-posts {
  margin: 2rem 0 4rem;
  padding-bottom: 1rem; }
  .home-posts p {
    font-size: 1.0rem; }
  .home-posts h2 {
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 1rem; }
  .home-posts li {
    font-weight: 400;
    font-size: 1rem;
    color: #8c0d0d;
    margin: 0.2rem 1.6rem; }
    .home-posts li a {
      border-bottom: 1px dotted #8c0d0d; }
      .home-posts li a:hover {
        background: #8c0d0d;
        color: white;
        border-bottom: 1px solid #8c0d0d; }

/* #About
================================================== */
.about-quotes blockquote {
  border-left: 5px solid #990100;
  padding: 1.2rem;
  margin: 2.4rem 0; }
  .about-quotes blockquote p {
    font-size: 1.2rem;
    color: #1a1a1a;
    padding: 0.6rem 1.6rem; }
  .about-quotes blockquote cite {
    color: #1a1a1a;
    margin-bottom: 0.6rem; }

.about-social {
  margin-bottom: 4rem; }
  .about-social a {
    white-space: nowrap;
    text-align: center;
    margin: 0 0.6rem; }
    .about-social a span {
      font-size: 2.4rem; }
    .about-social a:link span, .about-social a:visited span {
      color: #990100; }
    .about-social a:hover span {
      color: #1a1a1a; }
    .about-social a:active span {
      color: #a8a8a8; }

/* #Blog
================================================== */
.tags {
  text-transform: uppercase;
  font-size: 0.8rem; }

.next, .previous {
  font-family: "Raleway"; }

.paginator .next, .paginator .previous {
  min-height: 100px;
  font-size: 1.6rem;
  background: #8c0d0d; }

.post {
  margin-bottom: 8.0rem; }
