/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/*
== Colours
*/
/* import reset - normalise.css */
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* #Body
================================================== */
html {
  overflow-y: scroll;
  -webkit-overflow-x: hidden;
  -ms-overflow-x: hidden;
  -o-overflow-x: hidden;
  overflow-x: hidden; }

body {
  -webkit-text-size-adjust: 100%;
  background-color: #eeeeee; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* #Common Snippets
================================================== */
.hide {
  display: none; }

.block, .show {
  display: block; }

.in-line {
  display: inline; }

.in-line-block {
  display: inline-block; }

.no-wrap {
  white-space: nowrap; }

.center {
  text-align: center; }

.center-wrapper-outer {
  text-align: center; }

.center-wrapper-inner {
  display: inline-block; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.disabled {
  pointer-events: none;
  opacity: 0.5; }

.italic {
  font-style: italic; }

.bold {
  font-weight: bold; }

/* #Typography
================================================== */
p {
  display: block;
  margin: 0px;
  padding: 0px;
  font: normal normal 300 12pt/1.5 "Segoe UI";
  font-family: "Segoe UI", "Myriad Pro", "Frutiger", "Frutiger Linotype", "Dejavu Sans", sans-serif;
  color: #4a4a4a; }
  p a {
    -webkit-transition: all 150ms ease-in-out 0ms;
    -moz-transition: all 150ms ease-in-out 0ms;
    -o-transition: all 150ms ease-in-out 0ms;
    transition: all 150ms ease-in-out 0ms;
    display: inline-block; }
    p a:link {
      text-decoration: none;
      font-weight: normal;
      border: none;
      background-color: transparent;
      color: #00a4a4; }
    p a:visited {
      text-decoration: none;
      font-weight: normal;
      border: none;
      background-color: transparent;
      color: #00a4a4; }
    p a:hover {
      text-decoration: none;
      font-weight: normal;
      border: none;
      background-color: #00a4a4;
      color: #FFFFFF; }
    p a:active {
      text-decoration: none;
      font-weight: normal;
      border: none;
      background-color: transparent;
      color: #00a4a4; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI";
  margin: 4px 0;
  text-align: left;
  text-decoration: none;
  font-weight: normal;
  vertical-align: middle;
  border: none;
  background-color: transparent;
  color: #008287; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    -webkit-transition: all 150ms ease-in-out 0ms;
    -moz-transition: all 150ms ease-in-out 0ms;
    -o-transition: all 150ms ease-in-out 0ms;
    transition: all 150ms ease-in-out 0ms; }
    h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link {
      text-decoration: none;
      font-weight: normal;
      border: none;
      background-color: transparent;
      color: #00a4a4; }
    h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
      text-decoration: none;
      font-weight: normal;
      border: none;
      background-color: transparent;
      color: #00a4a4; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      text-decoration: none;
      font-weight: normal;
      border: none;
      background-color: transparent;
      color: #00a4a4; }
    h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active {
      text-decoration: none;
      font-weight: normal;
      border: none;
      background-color: transparent;
      color: #00a4a4; }

h1 {
  display: block;
  color: #4a4a4a;
  font: normal normal 200 40pt/1.4 "Segoe UI";
  font-family: "Segoe UI", "Nexa Light", "Segoe UI", "Open Sans", sans-serif;
  -webkit-transition: all 300ms ease-in-out 0ms;
  -moz-transition: all 300ms ease-in-out 0ms;
  -o-transition: all 300ms ease-in-out 0ms;
  transition: all 300ms ease-in-out 0ms;
  perspective: 1500;
  -webkit-perspective: 1500;
  /* Safari and Chrome */
  perspective-origin: 100% 50%;
  -webkit-perspective-origin: 100% 50%; }
  h1 a:hover {
    transform: rotateX(-1deg);
    -webkit-transform: rotateY(-1deg);
    /* Safari and Chrome */ }
  h1 a:active {
    transform: rotateX(-1deg);
    -webkit-transform: rotateY(-1deg);
    /* Safari and Chrome */ }
  h1 a {
    display: block;
    line-height: 56pt;
    border-left: 56pt solid transparent;
    padding: 0 10px; }
    h1 a:link {
      color: #4a4a4a;
      border-left: 56pt solid #4a4a4a; }
    h1 a:visited {
      color: #4a4a4a;
      border-left: 56pt solid #4a4a4a; }
    h1 a:hover {
      color: #4a4a4a;
      border-left: 56pt solid #4a4a4a; }
    h1 a:active {
      color: #4a4a4a;
      border-left: 56pt solid #4a4a4a; }

h2 {
  display: block;
  color: #4a4a4a;
  font: normal normal 200 30pt/1.5 "Segoe UI";
  font-family: "Segoe UI", "Nexa Light", "Segoe UI", "Open Sans", sans-serif;
  -webkit-transition: all 300ms ease-in-out 0ms;
  -moz-transition: all 300ms ease-in-out 0ms;
  -o-transition: all 300ms ease-in-out 0ms;
  transition: all 300ms ease-in-out 0ms;
  perspective: 1500;
  -webkit-perspective: 1500;
  /* Safari and Chrome */
  perspective-origin: 100% 50%;
  -webkit-perspective-origin: 100% 50%; }
  h2 a:hover {
    transform: rotateX(-1deg);
    -webkit-transform: rotateY(-1deg);
    /* Safari and Chrome */ }
  h2 a:active {
    transform: rotateX(-1deg);
    -webkit-transform: rotateY(-1deg);
    /* Safari and Chrome */ }
  h2 a {
    display: block;
    line-height: 45pt;
    border-left: 45pt solid transparent;
    padding: 0 10px; }
    h2 a:link {
      color: #4a4a4a;
      border-left: 45pt solid #4a4a4a; }
    h2 a:visited {
      color: #4a4a4a;
      border-left: 45pt solid #4a4a4a; }
    h2 a:hover {
      color: #4a4a4a;
      border-left: 45pt solid #4a4a4a; }
    h2 a:active {
      color: #4a4a4a;
      border-left: 45pt solid #4a4a4a; }

h3 {
  display: block;
  padding-left: 4px;
  color: #4a4a4a;
  font: normal normal 300 20pt/1.5 "Segoe UI";
  font-family: "Segoe UI Semibold", "Nexa Light", "Segoe UI", "Open Sans", sans-serif;
  -webkit-transition: all 300ms ease-in-out 0ms;
  -moz-transition: all 300ms ease-in-out 0ms;
  -o-transition: all 300ms ease-in-out 0ms;
  transition: all 300ms ease-in-out 0ms;
  perspective: 1500;
  -webkit-perspective: 1500;
  /* Safari and Chrome */
  perspective-origin: 100% 50%;
  -webkit-perspective-origin: 100% 50%; }
  h3 a:hover {
    transform: rotateX(-1deg);
    -webkit-transform: rotateY(-1deg);
    /* Safari and Chrome */ }
  h3 a:active {
    transform: rotateX(-1deg);
    -webkit-transform: rotateY(-1deg);
    /* Safari and Chrome */ }
  h3 a {
    display: block; }
    h3 a:link {
      border-bottom: 2px solid #4a4a4a;
      color: #4a4a4a; }
    h3 a:visited {
      border-bottom: 2px solid #4a4a4a;
      color: #4a4a4a; }
    h3 a:hover {
      border-bottom: 2px solid #4a4a4a;
      color: #4a4a4a; }
    h3 a:active {
      border-bottom: 2px solid #4a4a4a;
      color: #4a4a4a; }

h4 {
  display: block;
  color: #4a4a4a;
  font: normal normal 200 16pt/1.5 "Segoe UI";
  font-family: "Segoe UI Semibold", "Nexa Light", "Segoe UI", "Open Sans", sans-serif;
  -webkit-transition: all 300ms ease-in-out 0ms;
  -moz-transition: all 300ms ease-in-out 0ms;
  -o-transition: all 300ms ease-in-out 0ms;
  transition: all 300ms ease-in-out 0ms;
  perspective: 1500;
  -webkit-perspective: 1500;
  /* Safari and Chrome */
  perspective-origin: 100% 50%;
  -webkit-perspective-origin: 100% 50%; }
  h4 a:hover {
    transform: rotateX(-1deg);
    -webkit-transform: rotateY(-1deg);
    /* Safari and Chrome */ }
  h4 a:active {
    transform: rotateX(-1deg);
    -webkit-transform: rotateY(-1deg);
    /* Safari and Chrome */ }
  h4 a {
    display: block; }
    h4 a:link {
      border-bottom: 1.5px solid #4a4a4a;
      color: #4a4a4a; }
    h4 a:visited {
      border-bottom: 1.5px solid #4a4a4a;
      color: #4a4a4a; }
    h4 a:hover {
      border-bottom: 1.5px solid #4a4a4a;
      color: #4a4a4a; }
    h4 a:active {
      border-bottom: 1.5px solid #4a4a4a;
      color: #4a4a4a; }

h5 {
  display: block;
  color: #4a4a4a;
  font: normal normal 200 11pt/1.5 "Segoe UI";
  font-family: "Segoe UI", "Nexa Light", "Segoe UI", "Open Sans", sans-serif;
  -webkit-transition: all 300ms ease-in-out 0ms;
  -moz-transition: all 300ms ease-in-out 0ms;
  -o-transition: all 300ms ease-in-out 0ms;
  transition: all 300ms ease-in-out 0ms;
  perspective: 1500;
  -webkit-perspective: 1500;
  /* Safari and Chrome */
  perspective-origin: 100% 50%;
  -webkit-perspective-origin: 100% 50%; }
  h5 a:hover {
    transform: rotateX(-1deg);
    -webkit-transform: rotateY(-1deg);
    /* Safari and Chrome */ }
  h5 a:active {
    transform: rotateX(-1deg);
    -webkit-transform: rotateY(-1deg);
    /* Safari and Chrome */ }
  h5 a {
    display: block; }
    h5 a:link {
      color: #4a4a4a;
      text-decoration: underline; }
    h5 a:visited {
      color: #4a4a4a;
      text-decoration: underline; }
    h5 a:hover {
      color: #4a4a4a;
      text-decoration: underline; }
    h5 a:active {
      color: #4a4a4a;
      text-decoration: underline; }

h6 {
  display: block;
  color: #4a4a4a;
  font: normal normal 200 9pt/1.5 "Segoe UI";
  font-family: "Segoe UI", "Nexa Light", "Segoe UI", "Open Sans", sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease-in-out 0ms;
  -moz-transition: all 300ms ease-in-out 0ms;
  -o-transition: all 300ms ease-in-out 0ms;
  transition: all 300ms ease-in-out 0ms;
  perspective: 1500;
  -webkit-perspective: 1500;
  /* Safari and Chrome */
  perspective-origin: 100% 50%;
  -webkit-perspective-origin: 100% 50%; }
  h6 a:hover {
    transform: rotateX(-1deg);
    -webkit-transform: rotateY(-1deg);
    /* Safari and Chrome */ }
  h6 a:active {
    transform: rotateX(-1deg);
    -webkit-transform: rotateY(-1deg);
    /* Safari and Chrome */ }
  h6 a {
    padding-left: 2px;
    display: block; }
    h6 a:link {
      color: #4a4a4a;
      border-left: 1px solid #4a4a4a; }
    h6 a:visited {
      color: #4a4a4a;
      border-left: 1px solid #4a4a4a; }
    h6 a:hover {
      color: #4a4a4a;
      border-left: 1px solid #4a4a4a; }
    h6 a:active {
      color: #4a4a4a;
      border-left: 1px solid #4a4a4a; }

/* #Quotes
================================================== */
blockquote {
  border-left: 5px solid #00a4a4;
  background-color: #E6E6E6;
  margin: 30px 0 30px 15px;
  padding: 10px 5px; }
  blockquote p {
    font: normal normal 300 14pt/22pt "Segoe UI";
    font-family: "Segoe UI", "Myriad Pro", "Frutiger", "Frutiger Linotype", "Dejavu Sans", sans-serif;
    color: #4a4a4a;
    padding: 0 10px;
    margin: 20px 5px; }
  blockquote cite {
    font: normal normal 300 10pt/15pt "Sofia Pro";
    color: #FFFFFF;
    background-color: #00a4a4;
    padding: 2px 20px 2px 20px;
    text-transform: uppercase; }

/* #Ruled lines
================================================== */
hr {
  border: 0;
  height: 1px;
  color: #797979;
  background: #797979;
  width: 100%;
  margin: 10px 0;
  float: none;
  clear: both; }
  hr.line {
    width: 90%;
    height: 1px;
    color: #00a4a4;
    background: #00a4a4;
    background-image: -webkit-linear-gradient(left, #eeeeee, #4a4a4a, #eeeeee);
    background-image: -moz-linear-gradient(left, #eeeeee, #4a4a4a, #eeeeee);
    background-image: -ms-linear-gradient(left, #eeeeee, #4a4a4a, #eeeeee);
    background-image: -o-linear-gradient(left, #eeeeee, #4a4a4a, #eeeeee);
    float: none;
    clear: both;
    margin-left: auto;
    margin-right: auto; }
  hr.space {
    height: 0;
    color: #eeeeee;
    background: #eeeeee;
    visibility: hidden; }

/* #Section
================================================== */
section {
  display: block;
  margin: 15px 0;
  padding: 0; }
  section header {
    margin: 0;
    padding: 0; }
    section header .tags {
      font: normal normal 300 14pt/1.5 "Segoe UI";
      font-family: "Segoe UI Semilight", "Myriad Pro", "Dejavu Sans", "Frutiger", "Frutiger Linotype", Arial, sans-serif;
      color: #4a4a4a;
      text-transform: uppercase;
      text-align: right; }
    section header .caption p {
      padding: 0 5px;
      font: normal normal 300 12pt/1.5 "Segoe UI";
      font-family: "Segoe UI Light", "Myriad Pro", "Dejavu Sans", "Frutiger", "Frutiger Linotype", Arial, sans-serif;
      color: #4a4a4a;
      text-transform: uppercase; }
  section .content {
    margin: 0 0 10px 0;
    padding: 0 0; }
    section .content p {
      margin: 10px 0;
      padding: 5px 10px;
      font: normal normal 300 12pt/1.5 "Segoe UI";
      font-family: "Segoe UI", "Myriad Pro", "Frutiger", "Frutiger Linotype", "Dejavu Sans", sans-serif;
      color: #4a4a4a; }

section.archives header {
  border-bottom: 2px solid #797979;
  perspective: 1500;
  -webkit-perspective: 1500;
  /* Safari and Chrome */
  perspective-origin: 100% 50%;
  -webkit-perspective-origin: 100% 50%; }
  section.archives header h3 {
    display: block;
    color: #eeeeee;
    background-color: #797979;
    border: none;
    font: normal normal 300 14pt/30pt "Segoe UI";
    font-family: "Segoe UI", "Nexa Light", "Segoe UI", "Open Sans", sans-serif;
    text-transform: uppercase; }
    section.archives header h3 a {
      border: none;
      color: #eeeeee;
      line-height: 30pt; }
    section.archives header h3:hover {
      transform: rotateX(-1deg);
      -webkit-transform: rotateY(-1deg);
      /* Safari and Chrome */ }
    section.archives header h3:active {
      transform: rotateX(-1deg);
      -webkit-transform: rotateY(-1deg);
      /* Safari and Chrome */ }
  section.archives header .tags {
    font-size: 11pt; }

section.branch {
  display: table;
  border-collapse: collapse;
  float: none; }
  section.branch .row {
    display: table-row;
    float: none; }
    section.branch .row header {
      display: table-cell;
      float: none;
      margin: 0;
      padding: 0;
      background-color: #797979; }
      section.branch .row header h2 {
        display: block;
        color: #4a4a4a;
        font: normal normal 200 40pt/1.5 "Segoe UI";
        font-family: "Segoe UI Semibold", "Nexa Light", "Segoe UI", "Frutiger", "Frutiger Linotype", Arial, sans-serif;
        text-transform: uppercase;
        padding: 0 5px;
        background-color: #eeeeee; }
      section.branch .row header .caption p {
        padding: 0 5px;
        font: normal normal 300 12pt/1.5 "Segoe UI";
        font-family: "Segoe UI Light", "Myriad Pro", "Dejavu Sans", "Frutiger", "Frutiger Linotype", Arial, sans-serif;
        color: #eeeeee;
        text-transform: uppercase; }
    section.branch .row .content {
      display: table-cell;
      float: none;
      margin: 0;
      padding: 0; }

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  section.branch {
    display: block; }
    section.branch .row {
      display: block;
      float: left; }
      section.branch .row header {
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        background-color: #797979; }
        section.branch .row header h2 {
          display: block;
          color: #4a4a4a;
          font: normal normal 200 40pt/1.5 "Segoe UI";
          font-family: "Segoe UI Semibold", "Nexa Light", "Segoe UI", "Frutiger", "Frutiger Linotype", Arial, sans-serif;
          text-transform: uppercase;
          padding: 0 5px; }
        section.branch .row header .caption p {
          padding: 0 5px 5px 5px;
          font: normal normal 300 12pt/1.5 "Segoe UI";
          font-family: "Segoe UI Light", "Myriad Pro", "Dejavu Sans", "Frutiger", "Frutiger Linotype", Arial, sans-serif;
          color: #eeeeee;
          text-transform: uppercase; }
      section.branch .row .content {
        display: block;
        float: left;
        margin: 0;
        padding: 0; }
        section.branch .row .content p {
          margin: 10px 5px;
          padding: 5px 0; } }
/* #Article
================================================== */
article {
  display: block;
  margin: 10px 0;
  padding: 4px 0; }
  article header {
    margin: 0;
    padding: 0; }
    article header .tags {
      font: normal normal 300 14pt/1.5 "Segoe UI";
      font-family: "Segoe UI Semilight", "Myriad Pro", "Dejavu Sans", "Frutiger", "Frutiger Linotype", Arial, sans-serif;
      color: #4a4a4a;
      text-transform: uppercase;
      text-align: right; }
  article .content {
    margin: 10px 0;
    padding: 2px 0; }
    article .content p {
      margin: 10px 5px;
      padding: 5px 0;
      font: normal normal 300 12pt/1.5 "Segoe UI";
      font-family: "Segoe UI", "Myriad Pro", "Frutiger", "Frutiger Linotype", "Dejavu Sans", sans-serif;
      color: #4a4a4a; }
    article .content li {
      font: normal normal 300 11pt/13pt "Segoe UI"; }
    article .content h1, article .content h2, article .content h3, article .content h4, article .content h5, article .content h6,
    article .content h1 a, article .content h2 a, article .content h3 a, article .content h4 a, article .content h5 a, article .content h6 a {
      border: 0;
      background: none;
      color: #4a4a4a;
      text-transform: none; }
  article .discuss {
    font: normal normal 300 13pt/19pt "Segoe UI";
    font-family: "Segoe UI Semibold", "Myriad Pro", "Dejavu Sans", "Frutiger", "Frutiger Linotype", Arial, sans-serif;
    color: #4a4a4a;
    text-transform: uppercase;
    float: right; }
    article .discuss a:link {
      text-decoration: none;
      font-weight: normal;
      background-color: transparent;
      color: #4a4a4a; }
    article .discuss a:visited {
      text-decoration: none;
      font-weight: normal;
      background-color: transparent;
      color: #4a4a4a; }
    article .discuss a:hover {
      text-decoration: none;
      font-weight: normal;
      background-color: transparent;
      color: #00d8d6; }
    article .discuss a:active {
      text-decoration: none;
      font-weight: normal;
      background-color: transparent;
      color: #00d8d6; }

/* #Posts
================================================== */
.permalink {
  float: right; }

.pagination .older {
  float: right; }
.pagination .newer {
  float: left; }

/* #Lists
================================================== */
ul, ol {
  margin: 2px 10px 2px 0px;
  padding: 2px 5px 2px 0px;
  font-size: 14px; }
  ul.full-left, ol.full-left {
    padding-left: 0; }

ol {
  list-style: decimal; }

ul {
  list-style-type: square;
  list-style-position: inside; }
  ul.none {
    list-style-type: none; }
  ul.square {
    list-style-type: square; }
  ul.circle {
    list-style-type: circle; }
  ul.disc {
    list-style-type: disc; }
  ul li {
    display: list-item;
    color: #4a4a4a;
    padding: 2px;
    margin: 1px 4px; }
    ul li a {
      display: block;
      padding: 4px 2px; }
      ul li a:link {
        text-decoration: none;
        font-weight: normal;
        border: none;
        background-color: transparent;
        color: #00a4a4; }
      ul li a:visited {
        text-decoration: none;
        font-weight: normal;
        border: none;
        background-color: transparent;
        color: #00a4a4; }
      ul li a:hover {
        text-decoration: none;
        font-weight: normal;
        border: none;
        background-color: #00a4a4;
        color: #FFFFFF; }
      ul li a:active {
        text-decoration: none;
        font-weight: normal;
        border: none;
        background-color: transparent;
        color: #00a4a4; }

ul.simple-small {
  list-style-type: none;
  border: none;
  margin: 10px 0;
  padding: 0;
  width: 100%; }
  ul.simple-small li {
    border-bottom: 1px solid #dddddd;
    font: normal normal 300 12pt/18pt "Segoe UI";
    padding: 0 2px;
    color: #4a4a4a; }
    ul.simple-small li a {
      display: block;
      -webkit-transition: font-size 300ms ease, background-color 300ms ease;
      -moz-transition: font-size 300ms ease, background-color 300ms ease;
      -ms-transition: font-size 300ms ease, background-color 300ms ease;
      -o-transition: font-size 300ms ease, background-color 300ms ease;
      transition: font-size 300ms ease, background-color 300ms ease;
      padding: 1px 2px; }
      ul.simple-small li a:link {
        text-decoration: none;
        font-weight: normal;
        background-color: transparent;
        color: #4a4a4a; }
      ul.simple-small li a:visited {
        text-decoration: none;
        font-weight: normal;
        background-color: transparent;
        color: #4a4a4a; }
      ul.simple-small li a:hover {
        text-decoration: none;
        font-weight: normal;
        background-color: #00a4a4;
        color: #FFFFFF; }
      ul.simple-small li a:active {
        text-decoration: none;
        font-weight: normal;
        background-color: #00a4a4;
        color: #FFFFFF; }
    ul.simple-small li:last-child {
      border-bottom: none; }

ul.simple-large {
  list-style-type: none;
  border: none;
  margin: 5px 0;
  padding: 0; }
  ul.simple-large li {
    border-bottom: 2px solid #dddddd;
    font: normal normal 300 20pt/30pt "Segoe UI";
    font-family: "Segoe UI Semilight", "Myriad Pro", "Dejavu Sans", "Frutiger", "Frutiger Linotype", Arial, sans-serif;
    color: #4a4a4a; }
    ul.simple-large li a {
      display: block;
      -webkit-transition: font-size 100ms ease, background-color 100ms ease;
      -moz-transition: font-size 100ms ease, background-color 100ms ease;
      -ms-transition: font-size 100ms ease, background-color 100ms ease;
      -o-transition: font-size 100ms ease, background-color 100ms ease;
      transition: font-size 100ms ease, background-color 100ms ease;
      padding: 0px 2px; }
      ul.simple-large li a:link {
        text-decoration: none;
        font-weight: normal;
        background-color: transparent;
        color: #4a4a4a; }
      ul.simple-large li a:visited {
        text-decoration: none;
        font-weight: normal;
        background-color: transparent;
        color: #4a4a4a; }
      ul.simple-large li a:hover {
        text-decoration: none;
        font-weight: normal;
        background-color: #00a4a4;
        color: #FFFFFF; }
      ul.simple-large li a:active {
        text-decoration: none;
        font-weight: normal;
        background-color: #00a4a4;
        color: #FFFFFF; }
    ul.simple-large li:last-child {
      border-bottom: none; }

dl {
  margin: 20px 0;
  color: #4a4a4a; }
  dl dt {
    border-width: 2px;
    border-style: solid;
    border-color: #4a4a4a;
    background-color: #00a4a4;
    color: #FFFFFF;
    font: normal normal 300 14pt/18pt "Segoe UI";
    padding: 2px;
    margin: 4px;
    float: left; }
  dl dd {
    border-left: 2px solid #4a4a4a;
    margin: 1px 4px;
    padding: 0 5px;
    clear: both; }
    dl dd p {
      font: normal normal 300 12pt/16pt "Segoe UI"; }

/* #Images
================================================== */
img:link,
img:active,
img:visited,
a img:link,
a img:active,
a img:visited,
img:hover,
a img:hover {
  background: 0;
  border: 0;
  text-decoration: none;
  text-shadow: none; }

img.scale-with-grid {
  max-width: 100%;
  height: auto; }

.parent-padding {
  padding: 10% 0; }

.child-padding {
  padding: 10% 0; }

/* #Pygments
================================================== */
pre, pre code > .highlight {
  margin: 2px; }

code, code > .highlight {
  font-family: "Consolas", "Lucida Console", "Monaco", monospace !important;
  background-color: #FAFAFA;
  border: 1px solid #CCCCCC;
  margin: 0;
  padding: 1px 3px;
  white-space: pre;
  overflow: auto; }

.highlight pre code {
  background-color: #4a4a4a;
  border: 1px solid #4a4a4a;
  color: #FFFFFF;
  display: block;
  font-family: "Consolas", "Lucida Console", "Monaco", monospace !important;
  font-size: 11pt;
  line-height: 1.6em;
  margin: 0 0 1.5em;
  padding: 0.7em;
  white-space: pre;
  overflow: auto;
  /*
  -moz-border-radius: 7px 7px 7px 7px;
  border-bottom-left-radius: 7px 7px;
  border-bottom-right-radius: 7px 7px;
  border-top-left-radius: 7px 7px;
  border-top-right-radius: 7px 7px;
  */ }

/* #Figures
================================================== */
