/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* import reset - normalise.css */



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


@import url('\css\reset.css');

/* #Body
================================================== */

	html {
		overflow-y: scroll;
	}

	body {
		-webkit-text-size-adjust: 100%;
		-ms-overflow-x: hidden;
		overflow-x: hidden;

		background: url("/images/bg.png") repeat center center fixed;
    background-color: rgb(37,37,37);
		text-rendering: optimizeLegibility;
	}


	*, *:before, *:after {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}

/* #Common Snippets
================================================== */

	.hide {
		display: none;
	}

	.block,
	.show {
		display: block;
	}

	.in-line{
		display: inline;
	}

	.in-line-block{
		display: inline-block;
	}

	.no-wrap{
		white-space: nowrap;
	}

	.center {
		text-align: center;
	}

	.center-wrapper-outer {
		text-align: center;
	}

	.center-wrapper-inner {
		display: inline-block;
	}

	.text-left {
		text-align: left;
	}

	.text-right {
		text-align: right;
	}

	.float-left {
		float: left;
	}

	.float-right {
		float: right;
	}

	.disabled {
		pointer-events: none;
		opacity: 0.5;
	}

	.italic {
		font-style: italic;
	}

	.bold {
		font-weight: bold;
	}


/* #Typography
================================================== */



	p {
		display: block;
		margin: 1.4em 0px;
		padding: 0px;
		text-rendering: optimizeLegibility;
    color: rgba(210,210,210,1.0);
    font: normal normal 300 14px/20px "Segoe UI Semilight";
    font-family: "Segoe UI Semilight", "Segoe UI", "Lato", "Helvetica Neue", "Open Sans";
	}

	p a {
		-webkit-transition: all 150ms ease-in-out 0ms;
		-moz-transition: all 150ms ease-in-out 0ms;
		-o-transition: all 150ms ease-in-out 0ms;
		transition: all 150ms ease-in-out 0ms;
    display: inline-block;
	}

  p a:link    {
    text-decoration:  none;
    font-weight:      regular;
    border:           none;
    background-color: transparent;
    color:            rgb(0,216,204);
  }

  p a:visited {
    text-decoration:  none;
    font-weight:      regular;
    border:           none;
    background-color: transparent;
    color:            rgba(0,130,135,1.0);
  }

  p a:hover   {
    text-decoration:  none;
    font-weight:      regular;
    border:           none;
    background-color: transparent;
    color:            rgba(0,130,135,1.0);
  }

  p a:active  {
    text-decoration:  none;
    font-weight:      regular;
    border:           none;
    background-color: transparent;
    color:            rgb(0,216,204);
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Museo Slab', 'Nexa Light', Arial, sans-serif;
		margin: 0;
		border: 0;
		color: #1A1A1A;
		text-align: left;
		font-weight: normal;
		text-decoration: none;
		-webkit-transition: all 150ms ease-in-out 0s;
		-moz-transition: all 150ms ease-in-out 0s;
		-o-transition: all 150ms ease-in-out 0s;
		transition: all 150ms ease-in-out 0s;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: #1A1A1A;
		text-align: left;
		font-weight: normal;
		text-decoration: none;
		display: block;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 1em 0 1em 0;
		line-height: 1.5em;
	}

	h1, h2, h3, h4, h5, h6,
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
	h1:active, h2:active, h3:active, h4:active, h5:active, h6:active,
	h1:link, h2:link, h3:link, h4:link, h5:link, h6:link,
	h1:visited, h2:visited, h3:visited, h4:visited, h5:visited, h6:visited,
	h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover,
	h1.hover, h2.hover, h3.hover, h4.hover, h5.hover, h6.hover,
	h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active,
	h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
	h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
	h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
	h1 a.hover, h2 a.hover, h3 a.hover, h4 a.hover, h5 a.hover, h6 a.hover,
	h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
		border: none;
		margin: 0;
		padding: 0;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
	h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active,
	h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
	h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
	h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
	h1 a.hover, h2 a.hover, h3 a.hover, h4 a.hover, h5 a.hover, h6 a.hover {
		display: block;
	}

	h1 {
	    font-size: 36px;
	    font-family: 'Nexa Bold';
	    text-transform: uppercase;
	    line-height: 40px;
	}


	h2 {
			padding-left: 3px;
	    background: #FF9900;
	    font-size: 28px;
	    line-height: 40px;
	}

	h2 a,
	h2 a:link,
	h2 a:active,
	h2 a:visited,
	h2 a:hover {
	    background: #FF9900;
	    padding: 5px;
	}

	h2:hover {
			padding-left: 3px;
			background: #3299BB;
	}

	h2 {
		color: #1A1A1A;
	}

	h2 .h2-hover {
		color: #F6F6F6;
	}

	h2 .h2-nohover {
		color: #1A1A1A;
	}

	h2 a:hover {
		background: #3299BB;
	}

	h2 a:hover,
	h2 a:link:hover,
	h2 a:visited:hover,
	h2 a:active:hover {
		border-color: #323222;
	}


	h2 a:hover,
	h2 a:hover .h2-hover {
		color: #F6F6F6;
	}

	h2 a:hover .h2-nohover {
		color: #1A1A1A;
	}



	h3 {
			margin: 4px 0 4px 0;
	    font-size: 24px;
	    line-height: 1.2;
	    font-family: 'Bitter', 'DroidSansRegular';
	    font-weight: 300;
	}

	h3:hover {
			margin: 4px 0 4px 0;
	}

	h3 a,
	h3 a:link,
	h3 a:active,
	h3 a:visited,
	h3 a:hover {
			margin: 4px 0 4px 0;
	    background: none;
	    padding: 5px;
	}

	h3 {
		color: #424242;
	}

	h3 .h3-hover {
		color: #3299BB;
	}

	h3 .h3-nohover {
		color: #1A1A1A;
	}

	h3 a:hover {
		background: #3299BB;
	}

	h3 a:hover,
	h3 a:hover .h3-hover {
		color: #F6F6F6;
	}

	h3 a:hover .h3-nohover {
		color: #1A1A1A;
	}


	#archive h3,
	#archive h3 a {
		width: 100%;
		margin: 0;
		display: inline-block;
	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (min-width: 959px) {
		#archive h3 a span.float-right {
			float: none;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#archive h3,
		#archive h3 a {
			font-size: 18px;
			line-height: 20px;
		}
		#archive h3 a span.float-right {
			font-size: 14px;
			line-height: 20px;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#archive h3 a {
			font-size: 16px;
			line-height: 18px;
		}
		#archive h3 a span.float-right {
			font-size: 12px;
			line-height: 18px;
		}
	}




	h4 {
			margin: 4px 0 4px 0;
	    font-size: 24px;
	    line-height: 1.2;
	    font-family: 'Open Sans', 'DroidSansRegular';
	    font-weight: 300;
	}

	h4:hover {
			margin: 4px 0 4px 0;
	}

	h4 a,
	h4 a:link,
	h4 a:active,
	h4 a:visited,
	h4 a:hover {
			margin: 4px 0 4px 0;
	    background: none;
	    padding: 5px;
	}

	h4 {
		color: #424242;
	}

	h4 .h4-hover {
		color: #3299BB;
	}

	h4 .h4-nohover {
		color: #1A1A1A;
	}

	h4 a:hover {
		background: #3299BB;
	}

	h4 a:hover,
	h4 a:hover .h4-hover {
		color: #F6F6F6;
	}

	h4 a:hover .h4-nohover {
		color: #1A1A1A;
	}



	h5 {
			margin: 4px 0 4px 0;
	    font-size: 18px;
	    line-height: 1.2;
	    font-family: 'Bitter', 'DroidSansRegular';
	    font-weight: 300;
	}

	h5:hover {
			margin: 4px 0 4px 0;
	}

	h5 a,
	h5 a:link,
	h5 a:active,
	h5 a:visited,
	h5 a:hover {
			margin: 4px 0 4px 0;
	    background: none;
	    padding: 5px;
	}

	h5 {
		color: #424242;
	}

	h5 .h5-hover {
		color: #3299BB;
	}

	h5 .h5-nohover {
		color: #1A1A1A;
	}

	h5 a:hover {
		background: #3299BB;
	}

	h5 a:hover,
	h5 a:hover .h5-hover {
		color: #F6F6F6;
	}

	h5 a:hover .h5-nohover {
		color: #1A1A1A;
	}



	h6 {
			margin: 4px 0 4px 0;
	    font-size: 16px;
	    line-height: 1;
	    font-family: 'Bitter', 'DroidSansRegular';
	    font-weight: 300;
	}

	h6:hover {
			margin: 4px 0 4px 0;
	}

	h6 a,
	h6 a:link,
	h6 a:active,
	h6 a:visited,
	h6 a:hover {
			margin: 4px 0 4px 0;
	    background: none;
	    padding: 5px;
	}

	h6 {
		color: #424242;
	}

	h6 .h6-hover {
		color: #3299BB;
	}

	h6 .h6-nohover {
		color: #1A1A1A;
	}

	h6 a:hover {
		background: #3299BB;
	}

	h6 a:hover,
	h6 a:hover .h6-hover {
		color: #F6F6F6;
	}

	h6 a:hover .h6-nohover {
		color: #1A1A1A;
	}



/* #Quotes
================================================== */

	blockquote {
		border-left: 2px solid rgba(0,130,135,1.0);
		background-color: rgba(255,255,255,0.04);
		margin: 30px 0 30px 15px;
		padding: 5px;
	}

	blockquote p {
		color: rgb(135,135,135);
		padding: 0 15px 0 15px;
	}

	blockquote cite {
		color: rgb(210,210,210);
		background-color: rgba(0,130,135,1.0);
		padding: 2px 20px 2px 20px;
    font: normal normal 300 12px/20px "Sofia Pro";
		text-transform: uppercase;
	}


/* #Ruled lines
================================================== */

	hr {
		border: solid #1A1A1A;
		border-width: 3px 0 0;
		clear: both;
		margin: 10px 0 30px;
		height: 0;
	}

	hr.line {
		background: none repeat scroll 0 0 #3299BB;
		border: medium none;
		clear: both;
		color: #1A1A1A;
		float: none;
		height: 2px;
		margin: 0 0 1.45em;
		width: 100%;
	}

	hr.space {
		background: none repeat scroll 0 0 transparent;
		color: #FFFFFF;
		visibility: hidden;
	}

	hr.dotted {
		border: 1px dotted #111;
	}

	hr.tight {
		margin: 1px;
	}


/* #Posts
================================================== */

	.permalink { float: right; }

	.older { float: right; }
	.newer { float: left; }


/* #Lists
================================================== */

	ul, ol {
		margin: 2px 10px 2px 0px;
		padding: 2px 5px 2px 0px;
		font-size: 14px;
	}

	ul.full-left,
	ol.full-left {
		padding-left: 0px;
	}

	ul {
		list-style: none outside;
	}

	ol {
		list-style: decimal;
	}

	ol, ul.square, ul.circle, ul.disc {
		padding-left: 15px;
	}

	ul.square {
		list-style: square outside;
	}

	ul.circle {
		list-style: circle outside;
	}

	ul.disc {
		list-style: disc outside;
	}

	li {
		margin: 2px 0;
		font: normal 14px/24px "Open Sans";
	}


	li {
		display: block;
		margin: 1.4em 0px;
		padding: 0px;
		text-rendering: optimizeLegibility;
    color: rgba(210,210,210,1.0);
    font: normal normal 300 14px/20px "Segoe UI Semilight";
    font-family: "Segoe UI Semilight", "Segoe UI", "Lato", "Helvetica Neue", "Open Sans";
	}

	li a {
		-webkit-transition: all 150ms ease-in-out 0ms;
		-moz-transition: all 150ms ease-in-out 0ms;
		-o-transition: all 150ms ease-in-out 0ms;
		transition: all 150ms ease-in-out 0ms;
    display: inline-block;
	}

  li a:link    {
    text-decoration:  none;
    font-weight:      regular;
    border:           none;
    background-color: transparent;
    color:            rgb(0,216,204);
  }

  li a:visited {
    text-decoration:  none;
    font-weight:      regular;
    border:           none;
    background-color: transparent;
    color:            rgba(0,130,135,1.0);
  }

  li a:hover   {
    text-decoration:  none;
    font-weight:      regular;
    border:           none;
    background-color: transparent;
    color:            rgba(0,130,135,1.0);
  }

  li a:active  {
    text-decoration:  none;
    font-weight:      regular;
    border:           none;
    background-color: transparent;
    color:            rgb(0,216,204);
	}


ul.HelvetiList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.HelvetiList li {
  border-bottom: 1px solid rgba(207, 207, 207,1.0);
	margin: 0;
}

ul.HelvetiList li:last-child {
  border: 0;
}

ul.HelvetiList li a {
	margin: none;
  text-decoration: none;
  display: block;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

ul.HelvetiList li a:hover {
  font-size: 105%;
  background: rgba(207, 207, 207,1.0);
}



	ul.large li {
		line-height: 21px;
	}

	dl {
		margin: 0 0 18px;
		font-size: 18px;
	}

	dd {
		margin-left: 18px;
		font-size: 18px;
	}

	dt{
		font-size: 18px;
	}

/* #Images
================================================== */

	img:link,
	img:active,
	img:visited,
	a img:link,
	a img:active,
	a img:visited,
	img:hover,
	a img:hover {
		background: 0;
		border: 0;
		text-decoration: none;
		text-shadow: none;
	}

	img.scale-with-grid {
		max-width: 100%;
		height: auto;
	}

	.parent-padding { padding: 10% 0; }
	.child-padding { padding: 10% 0; }


/* #Pygments
================================================== */

	pre, pre code > .highlight {
		margin: 2px;
	}

	code, code > .highlight{
	  font-family: 'Consolas' !important;
	  background-color: #FAFAFA;
	  border: 1px solid #CCCCCC;
	  margin: 0;
	  padding: 1px 3px;
	  white-space: pre; overflow: auto;
	}

	.highlight pre code {
	  background-color: #1F1F1F;
	  box-shadow: 0 2px 4px #D8D8DC;
	  border: 1px solid #D8D8DC;
	  color: #000;
	  display: block;
	  font-family: "Consolas", 'Lucida Console', 'Monaco', monospace !important;
	  font-size: 14px;
	  line-height: 1.6em;
	  margin: 0 0 1.5em;
	  padding: 0.7em;
	  white-space: pre; overflow: auto;
	  /*
	  -moz-border-radius: 7px 7px 7px 7px;
	  border-bottom-left-radius: 7px 7px;
	  border-bottom-right-radius: 7px 7px;
	  border-top-left-radius: 7px 7px;
	  border-top-right-radius: 7px 7px;
	  */
	}




/* #Figures
================================================== */

	figure {
	}

	figcaption {
	}
