/* == WALKING AWAY
	#F6F6F6
	#E8E8E8
	#333333
	#990100
	#B90504
*/

/* == GAMEBOOKERS
	#FF9900
	#424242
	#E9E9E9
	#BCBCBC
	#3299BB
*/

/* == Teksapiens
	#196DFF
	#FFAB19
	#9E9E9E
	#444546
	#C11515
*/

/* == NEW

    light_color: 			rgb(0,216,204);
    dark_color:       rgba(0,130,135,1.0);
    white:            rgba(240,240,240,1.0);
    gray: 						rgb(121, 121, 121);

*/
