@import "bases";


/* Footer
================================================== */

	footer {
		font: normal normal 100 12px/20px "Segoe UI";
		margin: 1.5em 0;
		text-align: center;
		vertical-align: middle;
	}

  footer a {
    -webkit-transition: all 50ms ease-in-out 0ms;
    -moz-transition: all 50ms ease-in-out 0ms;
    -o-transition: all 50ms ease-in-out 0ms;
    transition: all 50ms ease-in-out 0ms;
    display: inline-block;
  }

  footer #footer-wrapper {
    border-top: 1px solid rgb(221,221,221);
  }

  footer a#chevron-up-hover {
    width: 30px;
    height: 30px;
    background: url("/images/icons/appbar.chevron.up-hover.png") top;
    background-size: 30px;
    background-repeat: no-repeat;
    text-indent: -99999px;
  }

  footer #footer-wrapper:hover a#chevron-up-hover {
    background-position: 0 -30px;
  }

  footer #footer-wrapper:hover {
    border-top: 1px solid rgb(0,216,204);
  }
