/* Footer
================================================== */
footer {
  position: relative;
  height: 200px;
  clear: both;
  margin-top: -200px;
  bottom: 0;
  width: 100%;
  background: #070707;
  padding: 30px 0;
  border-bottom: 4px solid #006ac0;
  text-align: center; }
  footer .footer-about {
    text-align: left; }
  footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    font-weight: bold;
    color: #f6f6f6; }
  footer p {
    color: #797979;
    margin: 15px 0;
    font: normal normal 300 12px/18px "Segoe UI"; }
    footer p a:link {
      text-decoration: none;
      font-weight: normal;
      border-bottom: 1px dotted #2b2b2b;
      background-color: transparent;
      color: #2b2b2b; }
    footer p a:visited {
      text-decoration: none;
      font-weight: normal;
      border-bottom: 1px dotted #2b2b2b;
      background-color: transparent;
      color: #2b2b2b; }
    footer p a:hover {
      text-decoration: none;
      font-weight: normal;
      border-bottom: 1px solid #006ac0;
      background-color: transparent;
      color: #006ac0; }
    footer p a:active {
      text-decoration: none;
      font-weight: normal;
      border-bottom: 1px solid #006ac0;
      background-color: transparent;
      color: #006ac0; }
    footer p#social-icons {
      font: normal normal 300 32px/34px "Segoe UI";
      padding: 4px; }
      footer p#social-icons a {
        display: inline-block;
        padding: 2px; }
        footer p#social-icons a:link {
          text-decoration: none;
          font-weight: normal;
          border: none;
          background-color: transparent;
          color: #f6f6f6; }
        footer p#social-icons a:visited {
          text-decoration: none;
          font-weight: normal;
          border: none;
          background-color: transparent;
          color: #f6f6f6; }
        footer p#social-icons a:hover {
          text-decoration: none;
          font-weight: normal;
          border: none;
          background-color: transparent;
          color: #006ac0; }
        footer p#social-icons a:active {
          text-decoration: none;
          font-weight: normal;
          border: none;
          background-color: transparent;
          color: #006ac0; }
