/* $font-stack-subheader: Light", "Open Sans", sans-serif;
$font-stack-item: , "Open Sans", sans-serif;
$font-stack-import: , "Open Sans", sans-serif;
 */
/* #Header
================================================== */
header.page {
  text-align: center;
  margin: 0 0 35px 0;
  padding: 0; }
  header.page a {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out; }
    header.page a:link {
      text-decoration: none;
      font-weight: regular;
      border: none;
      background-color: transparent;
      color: #4a4a4a; }
    header.page a:visited {
      text-decoration: none;
      font-weight: regular;
      border: none;
      background-color: transparent;
      color: #4a4a4a; }
    header.page a:hover {
      text-decoration: none;
      font-weight: regular;
      border: none;
      background-color: transparent;
      color: #4a4a4a; }
    header.page a:active {
      text-decoration: none;
      font-weight: regular;
      border: none;
      background-color: transparent;
      color: #4a4a4a; }
  header.page #name {
    margin: 5px 0 15px 0; }
  header.page #name a {
    font-size: 40pt;
    line-height: 40pt;
    white-space: nowrap; }
    header.page #name a #last-name {
      font-family: "Nexa Bold", "Frutiger", "Open Sans", Arial, sans-serif; }
    header.page #name a #first-name {
      font-family: "Nexa Bold", "Frutiger", "Open Sans", Arial, sans-serif; }
    header.page #name a:link #last-name {
      text-decoration: none;
      font-weight: regular;
      border: none;
      background-color: transparent;
      color: #16a085; }
    header.page #name a:visited #last-name {
      text-decoration: none;
      font-weight: regular;
      border: none;
      background-color: transparent;
      color: #16a085; }
    header.page #name a:hover #last-name {
      text-decoration: none;
      font-weight: regular;
      border: none;
      background-color: transparent;
      color: #16a085; }
    header.page #name a:active #last-name {
      text-decoration: none;
      font-weight: regular;
      border: none;
      background-color: transparent;
      color: #16a085; }
    header.page #name a:link #first-name {
      text-decoration: none;
      font-weight: regular;
      border: none;
      background-color: transparent;
      color: #2b2b2b; }
    header.page #name a:visited #first-name {
      text-decoration: none;
      font-weight: regular;
      border: none;
      background-color: transparent;
      color: #2b2b2b; }
    header.page #name a:hover #first-name {
      text-decoration: none;
      font-weight: regular;
      border: none;
      background-color: transparent;
      color: #16a085; }
    header.page #name a:active #first-name {
      text-decoration: none;
      font-weight: regular;
      border: none;
      background-color: transparent;
      color: #16a085; }
    header.page #name a.currentpage:link #last-name {
      text-decoration: none;
      font-weight: regular;
      border: none;
      background-color: transparent;
      color: #16a085; }
    header.page #name a.currentpage:visited #last-name {
      text-decoration: none;
      font-weight: regular;
      border: none;
      background-color: transparent;
      color: #16a085; }
    header.page #name a.currentpage:hover #first-name {
      text-decoration: none;
      font-weight: regular;
      border: none;
      background-color: transparent;
      color: #16a085; }
    header.page #name a.currentpage:active #first-name {
      text-decoration: none;
      font-weight: regular;
      border: none;
      background-color: transparent;
      color: #16a085; }
header nav.page {
  text-align: center;
  margin: 0 auto; }
  header nav.page ul {
    margin: 0;
    padding: 0 4px;
    list-style-type: none;
    white-space: nowrap;
    font-size: 0;
    height: 24px; }
    header nav.page ul li {
      margin: 0;
      padding: 0;
      display: inline-block;
      text-align: left; }
    header nav.page ul#nav-top li a {
      margin: 0 4px;
      font-variant: normal;
      font-style: normal;
      font-weight: 100;
      font-size: 13pt;
      line-height: 24px;
      font-family: "Source Sans Pro", "Open Sans", "Frutiger", "Frutiger Linotype", "Myriad Pro", "Dejavu Sans"; }
      header nav.page ul#nav-top li a:link {
        color: #2b2b2b; }
      header nav.page ul#nav-top li a:visited {
        color: #2b2b2b; }
      header nav.page ul#nav-top li a:hover {
        color: #16a085; }
      header nav.page ul#nav-top li a:active {
        color: #2b2b2b; }
    header nav.page ul#nav-top li.currentpage a:link {
      color: #1abc9c; }
    header nav.page ul#nav-top li.currentpage a:visited {
      color: #1abc9c; }
    header nav.page ul#nav-top li.currentpage a:hover {
      color: #16a085; }
    header nav.page ul#nav-top li.currentpage a:active {
      color: #1abc9c; }

/* Footer
================================================== */
footer {
  position: relative;
  height: 200px;
  clear: both;
  margin-top: -200px;
  bottom: 0;
  width: 100%;
  background: #070707;
  padding: 30px 0;
  border-bottom: 4px solid #1abc9c;
  text-align: center; }
  footer .footer-about {
    text-align: left; }
  footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    font-weight: bold;
    color: white; }
  footer p {
    color: #797979;
    margin: 15px 0;
    font: normal normal 300 12px/18px "Source Sans Pro"; }
    footer p a:link {
      text-decoration: none;
      font-weight: normal;
      border-bottom: 1px dotted #2b2b2b;
      background-color: transparent;
      color: #2b2b2b; }
    footer p a:visited {
      text-decoration: none;
      font-weight: normal;
      border-bottom: 1px dotted #2b2b2b;
      background-color: transparent;
      color: #2b2b2b; }
    footer p a:hover {
      text-decoration: none;
      font-weight: normal;
      border-bottom: 1px solid #1abc9c;
      background-color: transparent;
      color: #1abc9c; }
    footer p a:active {
      text-decoration: none;
      font-weight: normal;
      border-bottom: 1px solid #1abc9c;
      background-color: transparent;
      color: #1abc9c; }
    footer p#social-icons {
      font: normal normal 300 32px/34px "Source Sans Pro";
      padding: 4px; }
      footer p#social-icons a {
        display: inline-block;
        padding: 2px; }
        footer p#social-icons a:link {
          text-decoration: none;
          font-weight: normal;
          border: none;
          background-color: transparent;
          color: white; }
        footer p#social-icons a:visited {
          text-decoration: none;
          font-weight: normal;
          border: none;
          background-color: transparent;
          color: white; }
        footer p#social-icons a:hover {
          text-decoration: none;
          font-weight: normal;
          border: none;
          background-color: transparent;
          color: #1abc9c; }
        footer p#social-icons a:active {
          text-decoration: none;
          font-weight: normal;
          border: none;
          background-color: transparent;
          color: #1abc9c; }
