@import "bases";


/* #Header
================================================== */

header {
	&.page {
    text-align: center;
		margin: 0 0 20px 0;
    padding: 0;

    a {
      @include transition-ease(200ms);
      &:link {
        @include texts(none, regular, none, transparent, $color-darkgrey)
      }
      &:visited {
        @include texts(none, regular, none, transparent, $color-darkgrey)
      }
      &:hover {
        @include texts(none, regular, none, transparent, $color-darkgrey)
      }
      &:active {
        @include texts(none, regular, none, transparent, $color-darkgrey)
      }

    }

    #name {
      margin: 5px 0 25px 0;
    }

    #name a {
      font-size: 20pt;
      line-height: 20pt;
      white-space: nowrap;

      #last-name {
        font-family: "Source Sans Pro";
      }

      #first-name {
        font-family: "Source Sans Pro";
      }


      &:link #last-name {
        @include texts( none, regular, none, transparent, $color-sec );
      }
      &:visited #last-name {
        @include texts( none, regular, none, transparent, $color-sec );
      }
      &:hover #last-name {
        @include texts( none, regular, none, transparent, $color-sec );
      }
      &:active #last-name {
        @include texts( none, regular, none, transparent, $color-sec );
      }

      &:link #first-name {
        @include texts( none, regular, none, transparent, $color-black );
      }
      &:visited #first-name {
        @include texts( none, regular, none, transparent, $color-black );
      }
      &:hover #first-name {
        @include texts( none, regular, none, transparent, $color-sec );
      }
      &:active #first-name {
        @include texts( none, regular, none, transparent, $color-sec );
      }

      &.currentpage {
        &:link #last-name {
          @include texts( none, regular, none, transparent, $color-sec );
        }
        &:visited #last-name {
          @include texts( none, regular, none, transparent, $color-sec );
        }
        &:hover #first-name {
          @include texts( none, regular, none, transparent, $color-sec );
        }
        &:active #first-name {
          @include texts( none, regular, none, transparent, $color-sec );
        }
      }
    }
  }

  nav.page {

    text-align: center;

    width: 75%;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 2px;

    background-color: $color-darkgrey;

    ul {
      margin: 0;
      padding: 0 5px;
      list-style-type: none;
      white-space: nowrap;

      background-color: $color-bg;
      font-size: 0;

      height: 24px;

      li {
        margin: 0;
        padding: 0;
        display: inline-block;
        text-align: left;
      }

      &#nav-top li a {

        margin: 0;
        padding: 0 2px;
        font-variant: normal;
        font-style: normal;
        font-weight: 100;
        font-size: 13pt;
        line-height: 24px;
        font-family: $font-stack-navtop;

        &:link {
          color: $color-text;
        }
        &:visited {
          color: $color-text;
        }
        &:hover {
          color: $color-sec;
          border-bottom: 2px solid $color-main;
        }
        &:active {
          color: $color-text;
        }
      }

      &#nav-top li.currentpage a {
        &:link {
          color: $color-main;
          border-bottom: 4px solid $color-main;
        }

        &:visited {
          color: $color-main;
          border-bottom: 4px solid $color-main;
        }

        &:hover {
          color: $color-sec;
          border-bottom: 4px solid $color-main;
        }

        &:active {
          color: $color-main;
          border-bottom: 4px solid $color-main;
        }
      }

    }
  }

}
