/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/

@font-face {
    font-family: 'Nexa Bold';
    src: url('/fonts/Nexa Bold.eot');
    src: url('/fonts/Nexa Bold.eot?#iefix') format('eot'),
         url('/fonts/Nexa Bold.woff') format('woff'),
         url('/fonts/Nexa Bold.ttf') format('truetype'),
         url('/fonts/Nexa Bold.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa Light';
	src: url('/fonts/nexa_light-webfont.eot');
    src: url('/fonts/nexa_light-webfont.eot?#iefix') format('eot'),
         url('/fonts/nexa_light-webfont.woff') format('woff'),
         url('/fonts/nexa_light-webfont.ttf') format('truetype'),
         url('/fonts/nexa_light-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Slab';
    src: url('/fonts/Museo Slab 500.eot');
    src: url('/fonts/Museo Slab 500.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Museo Slab 500.woff') format('woff'),
         url('/fonts/Museo Slab 500.ttf') format('truetype'),
         url('/fonts/Museo Slab 500.svg#museo_slab_500regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo Sans';
    src: url('/fonts/Museo Sans 500.eot');
    src: url('/fonts/Museo Sans 500.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Museo Sans 500.woff') format('woff'),
         url('/fonts/Museo Sans 500.ttf') format('truetype'),
         url('/fonts/Museo Sans 500.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/Sofia Pro Light.eot?x=1351252202');
    src: url('/fonts/Sofia Pro Light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Sofia Pro Light.woff?x=1351252202') format('woff'),
         url('/fonts/Sofia Pro Light.ttf?x=1351252202') format('truetype'),
         url('/fonts/Sofia Pro Light.svg?x=1351252202#sofia_pro_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* #Fonts
==================================================

Open Sans

Bitter

Source Sans Pro

Source Code Pro

Inconsolata

Lato

font-family: "Segoe UI", "Myriad Pro", Lato, Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

*/
