
@import "bases";


.status {

  &.complete, &.green {
    color: green;
  }

  &.in-progress, &.yellow {
    color: orange;
  }

  &.upcoming, &.red {
    color: red;
  }

  &.abandoned, &.grey {
    color: #AAAAAA;
  }
}

a.status {

  &.complete, &.green {
    color: green;

    &:hover {
      background-color: green;
      color: $color-bg;
    }
  }

  &.in-progress, &.yellow {
    color: orange;

    &:hover {
      background-color: orange;
      color: $color-bg;
    }
  }

  &.upcoming, &.red {
    color: red;

    &:hover {
      background-color: red;
      color: $color-bg;
    }
  }

  &.abandoned, &.grey {
    color: #AAAAAA;

    &:hover {
      background-color: #AAAAAA;
      color: $color-bg;
    }
  }

}

.icon {
  font-size: 75%;
}
