.status.complete, .status.green {
  color: green; }
.status.in-progress, .status.yellow {
  color: orange; }
.status.upcoming, .status.red {
  color: red; }
.status.abandoned, .status.grey {
  color: #AAAAAA; }

a.status.complete, a.status.green {
  color: green; }
  a.status.complete:hover, a.status.green:hover {
    background-color: green;
    color: #f6f6f6; }
a.status.in-progress, a.status.yellow {
  color: orange; }
  a.status.in-progress:hover, a.status.yellow:hover {
    background-color: orange;
    color: #f6f6f6; }
a.status.upcoming, a.status.red {
  color: red; }
  a.status.upcoming:hover, a.status.red:hover {
    background-color: red;
    color: #f6f6f6; }
a.status.abandoned, a.status.grey {
  color: #AAAAAA; }
  a.status.abandoned:hover, a.status.grey:hover {
    background-color: #AAAAAA;
    color: #f6f6f6; }

.icon {
  font-size: 75%; }
