---
title: "resume"
layout: "custom/resume"
---

<div id="resume-page" class="section typeset">
    <div class="single-measure resume-page-title">
        {{ site.data.profile.resume.name_title }}
    </div>
    <div class="single-measure resume-page-contact">
        <!-- <a href="http://{{ site.data.profile.resume.website }}">
            {{ site.data.profile.resume.website }}
        </a> -->
        <a href="mailto:{{ site.data.profile.resume.email }}">
            {{ site.data.profile.resume.email }}
        </a>
        ♦
        <a href="https://{{ site.data.profile.resume.github }}">
            {{ site.data.profile.resume.github }}
        </a>
    </div>
    <div class="single-measure resume-page-header">
        {{ site.data.profile.resume.skills_title }}
    </div>
    <div class="single-measure" id="resume-page-skills">
        <ul class="resume-page-skill-descriptions">
            {% for skill in site.data.profile.resume.skills %}
            <li class="resume-page-skill-description">
                {{ skill }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="single-measure resume-page-header">
        {{ site.data.profile.resume.job_title }}
    </div>
    <div class="single-measure" id="resume-page-jobs">
        {% for job in site.data.profile.resume.jobs %}
        <div class="resume-page-job">
            <div class="resume-page-job-title">
                 {{ job.title }}
            </div>
            <div>
                <span class="resume-page-job-company">
                    {{ job.company }}
                </span>
                <span class="resume-page-job-date">
                    {{ job.date_year }}
                </span>
            </div>
            <ul class="resume-page-job-descriptions">
                {% for description in job.description %}
                <li class="resume-page-job-description">
                    {{ description }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    <div class="single-measure resume-page-header">
        {{ site.data.profile.resume.project_title }}
    </div>
    <div class="single-measure" id="resume-page-projects">
        {% for project in site.data.profile.resume.projects %}
        <div class="resume-page-project">
            <div class="resume-page-project-title">
                 {{ project.title }}
            </div>
            <ul class="resume-page-project-descriptions">
                {% for description in project.description %}
                <li class="resume-page-project-description">
                    {{ description }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    <div class="single-measure resume-page-header">
        {{ site.data.profile.resume.education_title }}
    </div>
    <div class="single-measure" id="resume-page-education">
        <span class="resume-page-education-degree">
            {{ site.data.profile.resume.degree }}
        </span>
        <span class="resume-page-education-school">
            {{ site.data.profile.resume.school }}
        </span>
        <ul class="resume-page-education-descriptions">
            {% for class in site.data.profile.resume.classes %}
            <li class="resume-page-education-description">
                {{ class }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
