---
title: blogs
---
<div class="row">
    <div class="small-12 columns">
        <h2>
            {{ site.data.content.pages.about_blogs_page_title }}
        </h2>
        {% for description in site.data.profile.about.blogs_description %}
        <p>
            {{ description | markdownify }}
        </p>
        {% endfor %}
    </div>
</div>
{% for blog in site.data.content.blogs %}
<div class="row">
    <div class="small-12 columns">
        <p>
            <a href="{{ blog.link }}">
                {{ blog.title }}
            </a>
        </p>
    </div>
</div>
{% endfor %}
