---
layout: default
title: home
main: home
---


<div class="home-background">
    <div class="row">
        <blockquote class="home-title-quote">
            {% for line in site.data.profile.missionstatement %}
            <p>
                {{ line }}
            </p>
            {% endfor %}
        </blockquote>
    </div>
</div>

<div class="home-posts">
    <div class="row">
        <div class="small-12 medium-6 columns">    
            <p>
                Hi! I'm Victor Lai, a Software Engineering student at the University of Waterloo. This is where I collect my thoughts.
            </p>
            <p>
                When I'm bored, I code. I make things that work. I am passionate about making good things &mdash; for users and coders, and making things that do good.
            </p>
            <p>
                Other than that, I love learning. This year, it's skating into hockey, running, working out, guitar, and helping out.
            </p>
        </div>

        <div class="small-12 medium-6 columns">    
            <h2 class="bg">
                New Posts
            </h2>

            <ul class="square">
                {% for post in site.posts limit:5 %}
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>