/* Footer
================================================== */

	footer {
		border-color: #BCBCBC;
		border-style: dashed;
		color: #1A1A1A;
		line-height: 16px;
		padding-top: 8px;
		position: relative;
		font: normal normal 300 10px/20px "Museo Slab";
		margin: 1.5em 0px;
	}
