---
title: Favourites
nav-menu: true
---

<!-- One -->
<section>
<div class="inner">
  <header class="major">
    <h1>{{ page.title }}</h1>
  </header>

  <h2>Articles</h2>
  <ul class="list-group">
    {% for favourite in site.data.favourites %}
    <li class="list-group-item justify-content-between">
      <span class="label label-primary">{% if favourite.starred %}★{% endif %}</span>
      <a href="{{ favourite.link }}">
        {{ favourite.title }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <h2>Blogs</h2>
  <ul class="list-group">
    {% for blog in site.data.blogs %}
    <li class="list-group-item justify-content-between">
      <a href="{{ blog.link }}">
        {{ blog.title }}
      </a>
    </li>
    {% endfor %}
  </ul>

</div>
</section>
