
/* #Header
================================================== */

	#header {
		background: #1F1F1F;
	}

/* Navigation Bar */

	#header #mainmenu {
		background-color: transparent;
		display: block;
		height: 32px;
		width: 400px;
	}

	#header #mainmenu ul {
		list-style: none;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	#header #mainmenu ul li {
		display: inline;
		position: relative;
	}

	#header #mainmenu ul li a {
		float:left;
		height: 30px;
		line-height: 32px;
		text-align: center;
		text-decoration: none;
		display: block;
		font-weight: normal;
		border: 2 2 2 2 transparent;
		outline: none;
		cursor: pointer;
		overflow: hidden;    
		-webkit-transition: all 100ms ease-in-out 0s;
		-moz-transition: all 100ms ease-in-out 0s;
		-o-transition: all 100ms ease-in-out 0s;
		transition: all 100ms ease-in-out 0s;
	  	border-bottom: none;
	}

/* Navigation Item */
	#header #mainmenu ul li a,
	#header #mainmenu ul li a:visited {
	  background-color: #1F1F1F;
	  color :#fff;
	  border-bottom: none;
	}

/* Hover over Navigation Item */
	#header #mainmenu ul li a:hover, 
	#header #mainmenu ul li a.selected {
	  background-color: #1C5E3F;
	  color: #fff;
	  border-bottom: none;
	}

/* Current Page */
	#header #mainmenu ul li.currentpage a,
	#header #mainmenu ul li.currentpage a:visited{
	  background-color: #267E55;
	  color: #fff;
	  border-bottom: none;
	}

/* Hover over Current Page */
	#header #mainmenu ul li.currentpage a:hover, 
	#header #mainmenu ul li.currentpage a.selected {
		background-color: #267E55;
		color: #1F1F1F;
	  	border-bottom: none;
	}	



/* Sub-navigation menu */

	#header #submenu {
		background-color: transparent;
		display: block;
		height: 32px;
		width: 200px;
	}

	#header #submenu ul {
		list-style: none;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	#header #submenu ul li {
		display: inline;
		position: relative;
	}

	#header #submenu ul li a {
		float:left;
		height: 30px;
		line-height: 32px;
		text-align: center;
		text-decoration: none;
		display: block;
		font-weight: normal;
		border: 2 2 2 2 transparent;
		outline: none;
		cursor: pointer;
		overflow: hidden;    
		-webkit-transition: all 100ms ease-in-out 0s;
		-moz-transition: all 100ms ease-in-out 0s;
		-o-transition: all 100ms ease-in-out 0s;
		transition: all 100ms ease-in-out 0s;
	  	border-bottom: none;
	}

/* Navigation Item */
	#header #submenu ul li a,
	#header #submenu ul li a:visited {
	  background-color:#1F1F1F;
	  color:#fff;
	  border-bottom: none;
	}

/* Hover over Navigation Item */
	#header #submenu ul li a:hover, 
	#header #submenu ul li a.selected {
	  background-color:#3D3D3D;
	  color:#fff;
	  border-bottom: none;
	}

/* Current Page */
	#header #submenu ul li.currentpage a,
	#header #submenu ul li.currentpage a:visited{
	  background-color:#474747;
	  color:#fff;
	  border-bottom: none;
	}

/* Hover over Current Page */
	#header #submenu ul li.currentpage a:hover, 
	#header #submenu ul li.currentpage a.selected {
		background-color:#3D3D3D;
		color:#fff;
	  	border-bottom: none;
	}



/* Name */

	#header #name h1 a,
	#header #name h1 a:visited {
		color: #267E55;
		font-size: 56px; 
		line-height: 90px; 
		margin-bottom: 16px; 
		display: inline;
		text-decoration:none;
		font-family: 'Nexa Bold', Arial, Helvetica, sans-serif;
	}

	#header #name h1 a:hover,
	#header #name h1 a.selected {
		border-bottom: 2px solid #267E55;
	}

	#header #name a #last {
		color: #267E55;
	}

	#header #name a #first {
		color: #fff;
		text-decoration:none;
		background: none;
	}

	#header #name a #first:hover {
		color: #267E55;
		text-decoration: none;
		background: none;
		display:inline;
	}

	#header .icon { 
		display: inline;
		padding: 15px 15px 15px 15px;
		text-align: right;
		margin-top: 30px;
		margin-bottom: 25px;
	}

	#header .icon a { 
		color: #fff; text-decoration: none; background: none; border-bottom: none;
		-webkit-transition: all 100ms ease-in-out 0s;
		-moz-transition: all 100ms ease-in-out 0s;
		-o-transition: all 100ms ease-in-out 0s;
		transition: all 100ms ease-in-out 0s;
	}

	#header .icon a:hover, .icon a.selected { 
		color: #267E55; 
		text-decoration: none; 
		background: none; 
		border-bottom: none; 
	}