/* #Header
================================================== */


	header {
		overflow-x: hidden;
		overflow-y: hidden;
		margin: 0;
		border: 0px;
		background: #1A1A1A;
		border-bottom: none;
		position: relative;
		vertical-align: middle;
		font-size: 14px/24px;
		font-family: "PT Sans Narrow";
		width: 100%;
	}

	header #name {
		margin-top: 5px;
		margin-bottom: 10px;
	}

	header #name a {
		margin: 0;
		padding: 0;
		color: #FF9900;
		text-align: left;
		font-family: 'Nexa Bold', 'Arial', sans-serif;
		border-bottom: 5px solid #FF9900;
	}

	header #name a:hover {
		background: none;
	}

	header #name a #last {
		color: #FF9900;
	}

	header #name a #first {
		color: #F6F6F6;
	}

	header #name a:hover > #first {
		color: #3299BB;
	}

	header #name a:hover #first {
		color: #3299BB;
	}

    @media only screen and (min-width: 960px) {
    	header #name a {
  		  font-size: 56px;
        border-bottom: 0;
    	}

    	header #name {
        border-right: 3px solid #FF9900;
    	}
    }

    @media only screen and (min-width: 768px) and (max-width: 959px) {
    	header #name a {
    		font-size: 56px;
        border-bottom: 0;
    	}

    	header #name {
        border-right: 3px solid #FF9900;
    	}
    }

    @media only screen and (min-width: 480px) and (max-width: 767px) {
    	header #name a {
    		font-size: 75px;
    		text-align: center;
    	}
    }

    @media only screen and (max-width: 479px) {
    	header #name a {
    		font-size: 53px;
    	}
    }


	header #links {
		font-size: 28px;
		height: 32px;
		display: block;
		vertical-align: center;
		margin-bottom: 10px;
		float:right;
		border:none;
	}

	header #links a,
	header #links a:visited {
		color: #3299BB;
		text-decoration: none;
		border: none;
	}

	header #links a:hover,
	header #links a.hover,
	header #links a.selected {
		border: none;
		color: #FF9900;
		text-decoration: none;
		background: none;
	}


	header #nav {
		color: #F6F6F6;
		height: 64px;
		margin: 0;
		padding: 0;
		border: 0;
	}

	header #nav * {
		margin: 0;
		padding: 0;
		font-family: 'PT Sans Narrow';
	}

	header #nav ul,
	header #nav ul li,
	header #nav ul ul {
		text-align: center;
		list-style: none;
		line-height: 30px;
		vertical-align: middle;
		-webkit-transition: all 150ms ease-in-out 0s;
		-moz-transition: all 150ms ease-in-out 0s;
		-o-transition: all 150ms ease-in-out 0s;
		transition: all 150ms ease-in-out 0s;
	}

	header #nav ul {
		vertical-align: text-bottom;
		position: relative;
		z-index: 100;
		float: right;
		display: block;
		height: 32px;
		right: 0;
	}

	header #nav ul li {
		font-size: 14px;
		background-color: #1A1A1A;
		width: 75px;
		float: left;
		display: block;
		height: 32px;
	}

	header #nav ul li.hover,
	header #nav ul li:hover {
		position: static;
		cursor: default;
	}

	header #nav ul li a {
		border-bottom: none;
		display: block;
		height: 32px;
		color: #F6F6F6;
	}

	header #nav ul li a:hover,
	header #nav ul li a.hover {
		border-bottom: none;
	}

	header #nav ul li ul {
		visibility: hidden;
		position: absolute;
		left: 0;
		z-index: 200;
	}

	header #nav ul li.currentpage > ul {
		visibility: visible;
		z-index: 300;
	}

	header #nav ul li.hover > ul,
	header #nav ul li:hover > ul {
		visibility: visible;
		z-index: 400;
	}

	header #nav ul li.hover,
	header #nav ul li:hover {
		background-color: #F6F6F6;
	}

	header #nav ul li.currentpage {
	}

	header #nav ul li.currentpage a {
		background-color: #FF9900;
		color: #1A1A1A;
	}

	header #nav ul li a {
		color: #F6F6F6;
	}

	header #nav ul li.hover a,
	header #nav ul li:hover a {
		color: #1A1A1A;
	}

	header #nav ul li.hover ul li a,
	header #nav ul li:hover ul li a {
		background-color: #1A1A1A;
		color: #FF9900;
	}

	header #nav ul li.currentpage ul li a {
		background-color: #1A1A1A;
		color: #FF9900;
	}

	header #nav ul li ul li.currentpage {
	}

	header #nav ul li ul li.currentpage a {
		background-color: #F6F6F6;
		color: #1A1A1A;
	}

	header #nav ul li ul li.hover a,
	header #nav ul li ul li:hover a {
		background-color: #3299BB;
		color: #F6F6F6;
	}

	header #nav ul li ul li.empty.hover,
	header #nav ul li ul li.empty:hover {
		background-color: #1A1A1A;
	}


    @media only screen and (min-width: 960px) {
    	header #nav ul li {
    		width: 85px;
    	}
    }

    @media only screen and (min-width: 768px) and (max-width: 959px) {
    	header #nav ul li {
    		width: 85px;
    	}
    }

    @media only screen and (min-width: 480px) and (max-width: 767px) {
    	header #nav ul li {
    		width: 105px;
    	}
    }

    @media only screen and (max-width: 479px) {
    	header #nav ul li {
    		width: 75px;
    	}
    }