---
layout: base/page
---
<div id="blog-page" class="section typeset">
    <div class="blog-page-post single-measure">
        <h1 class="blog-page-post-title">
            {{ page.title }}
        </h1>
        <span class="button">
            about {{ page.tags | array_to_sentence_string }}.
        </span>
        <span class="button">
            posted on <time>{{ page.date | date:'%B %d, %Y' }}</time>.
        </span>
        <div class="blog-page-post-content">
            {% if page.pure_markdown == true %}
            {{ page.content | markdownify }}
            {% else %}
            {{ page.content | markdownify }}
            {% endif %}
        </div>
    </div>

    <div class="single-measure">
        {% include share.html %}
    </div>

    {% if site.about_footer %}
        {% include about.html %}
    {% endif %}

    {% if site.facebook_comments %}
        {% include fb_comments.html %}
    {% endif %}

    {% if page.comments %}
        {% include disqus.html %}
    {% endif %}
</div>
