---
layout: base/page
---
<div id="blog-page" class="section typeset">
    <div class="blog-page-post single-measure">
        <h2 class="blog-page-post-title">
            <a href="{{ post.url }}">
                {{ page.title }}
            </a>
        </h2>
        <span class="blog-page-post-tags">
            about {{ page.tags | array_to_sentence_string }}.
        </span>
        <span class="blog-page-post-date">
            posted on {{ page.date | date:'%B %d, %Y' }}.
        </span>
        <div class="blog-page-post-content">
            {% if page.pure_markdown == true %}
            {{ page.content | markdownify }}
            {% else %}
            {{ page.content | markdownify }}
            {% endif %}
        </div>
    </div>
    {% if page.comments %}
    <div class="single-measure">
        {% include extensions/disqus.html %}
    </div>
    {% endif %}
</div>
