// basics
$color-black: rgba(0,0,0,1.0);
$color-dark-gray: rgba(51,51,51,1);
$color-gray: rgba(169,167,174, 1.0);
$color-light-gray: rgba(231,231,228,1);
$color-white: rgba(255,255,255, 1.0);

$color-coral-red: rgb(255,29,68);
$color-clown-red: rgb(169,39,39);
$color-pillow-red: rgb(196,77,88);
$color-bright-pink: rgb(255,0,72);

$color-radio-purple: rgb(94,84,115);

$color-slate-blue: rgb(85,98,112);
$color-pacifica-blue: rgb(78,205,196);
$color-jumpstart-green: rgb(25,181,165);
$color-fetch-green: rgb(25,181,165);
$color-pacifica-green: rgb(69,173,168);

// Colors
$accent-color: $color-pillow-red;//#2358D1;
$underline-color: #E1E1E1;
$light-color: #D4D4D4;
$medium-gray-color: #999;
$light-gray-color: #ccc;
$git-black-color: #333333;
$well-color: #f7f7f7;

/* Solarized Colors */
$sol-base1: #93a1a1;
