<footer>
  <div class="container">
    <div class="sixteen columns">
        <p id="social-icons">
          <a href="http://www.twitter.com/{{ site.twitter }}">
            <span aria-hidden="true" data-icon="&#xe000;"></span>
          </a>
          <a href="http://www.github.com/{{ site.github }}">
            <span aria-hidden="true" data-icon="&#xe001;"></span>
          </a>
          <a href="/atom.xml">
            <span aria-hidden="true" data-icon="&#xe002;"></span>
          </a>
          <a href="mailto:{{ site.email }}">
            <span aria-hidden="true" data-icon="&#xe003;"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
