<header>	
	<div class="container">
		<br/>
		<div class="eight columns">
			<div id="name"> 
				<a href="/">
					<span  class="no-wrap">
						<span id="last">LAI</span><span id="first">.VICTOR</span>
					</span>
				</a>
			</div>
		</div>
		<div class="eight columns">
			<div id="links">
				<a target="_blank" href="http://www.twitter.com/{{ site.twitter}} ">
					<i class="icon-twitter-sign"></i>
				</a>
				<a target="_blank" href="http://www.github.com/{{ site.github }}">
					<i class="icon-github-sign"></i>
				</a>
				<a target="_blank" href="http://ca.linkedin.com/in/{{ site.linkedin }}">
					<i class="icon-linkedin-sign"></i>
				</a>
				<a href="mailto:{{ site.email }}">
					<i class="icon-envelope-alt"></i>
				</a>
				<a href="{{ site.atom }}" target="_blank" >
					<i class="icon-rss"></i>
				</a>
			</div>
		</div>
		<div class="eight columns">
			<div id="nav">
				<ul>
					{% if page.main == "home" %}
					<li class="currentpage">
					{% else %}
					<li>
					{% endif %}
						<a href="/">
							Home
						</a>
						<ul>
							<li class="empty">
								&nbsp;
							</li>
							<li class="empty">
								&nbsp;
							</li>
							<li class="empty">
								&nbsp;
							</li>
							<li class="empty">
								&nbsp;
							</li>
						</ul>
					</li>
					{% if page.main == "blog" %}
					<li class="currentpage dir">
					{% else %}
					<li class="dir">
					{% endif %}
						<a href="/blog/">
							Blog <i class="icon-caret-down"></i>
						</a>
						<ul>
							{% if page.sub == "highlights" %}
							<li class="currentpage">
							{% else %}
							<li>
							{% endif %}
								<a href="/highlights/">
									Highlights
								</a>
							</li>
							{% if page.sub == "all" %}
							<li class="currentpage">
							{% else %}
							<li  class="">
							{% endif %}
								<a href="/blog/">
									Posts
								</a>
							</li>
							{% if page.sub == "archive" %}
							<li class="currentpage">
							{% else %}
							<li class="">
							{% endif %}
								<a href="/archive/">
									Archives
								</a>
							</li>
							{% if page.sub == "productivity" %}
							<li class="currentpage">
							{% else %}
							<li class="">
							{% endif %}
								<a href="/productivity/">
									Productivity
								</a>
							</li>
						</ul>
					</li>
					{% if page.main == "projects" %}		
					<li class="currentpage dir"> 
					{% else %}
					<li class="dir">
 					{% endif %}
 						<a href="/projects/">
 							Projects <i class="icon-caret-down"></i>
 						</a>
						<ul>
							<li class="empty">
								&nbsp;
							</li>
							<li class="empty">
								&nbsp;
							</li>
							{% if page.sub == "listing" %}
							<li	class="currentpage">
							{% else %}
							<li class="">
							{% endif %}
								<a href="/projects/">
									Completed
								</a>
							</li>
							{% if page.sub == "site" %}
							<li class="currentpage">
							{% else %}
							<li class="">
							{% endif %}
								<a href="/site/">
									Site
								</a>
							</li>
						</ul>
					</li>
					{% if page.main == "about" %}
					<li class="currentpage dir">
					{% else %}
					<li class="dir">
					{% endif %}
						<a href="/about/">
							About <i class="icon-caret-down"></i>
						</a>
						<ul>
							<li class="empty">
								&nbsp;
							</li>
							<li class="empty">
								&nbsp;
							</li>
							{% if page.sub == "resume" %}
							<li class="currentpage">
							{% else %}
							<li class="">
							{% endif %}
								<a href="/about/resume">
									Resume
								</a>
							</li>
							{% if page.sub == "me" %}
							<li class="currentpage">
							{% else %}
							<li class="">
							{% endif %}
								<a href="/about/">
									Me
								</a> 
							</li> 
						</ul> 
					</li> 
				</ul> 
			</div> <!-- / div nav --> 
		</div> <!-- / div 8 columns --> 
		<br />
		<br />
	</div> <!-- / div container -->
</header>