<script type="text/javascript">
$(document).ready(
	function()
	{
		$(window).resize(
			function()
			{
				$(' #resizer ').each(
					function() 
					{
						if ( $(window).width() >= 959 )
						{
							$(' #header h1 a ').css('font-size', '84px');
							$(' #header h1 a ').css('line-height', '90px');
						}
						else if ( $(window).width() >= 769 ) 
						{
							$(' #header h1 a ').css('font-size', '62px');
							$(' #header h1 a ').css('line-height', '90px');
						}
						else if ( $(window).width() >= 479 ) 
						{
							$(' #header h1 a ').css('font-size', '75px');
							$(' #header h1 a ').css('line-height', '90px');
						}
						else
						{
							$(' #header h1 a ').css('font-size', '53px');
							$(' #header h1 a ').css('line-height', '90px');
						}
					}
				)
			}
		);
		if ( $(window).width() >= 959 )
		{
			$(' #header h1 a ').css('font-size', '84px');
			$(' #header h1 a ').css('line-height', '90px');
		}
		else if ( $(window).width() >= 769 ) 
		{
			$(' #header h1 a ').css('font-size', '62px');
			$(' #header h1 a ').css('line-height', '90px');
		}
		else if ( $(window).width() >= 479 ) 
		{
			$(' #header h1 a ').css('font-size', '75px');
			$(' #header h1 a ').css('line-height', '90px');
		}
		else
		{
			$(' #header h1 a ').css('font-size', '53px');
			$(' #header h1 a ').css('line-height', '90px');
		}
	}
);
</script>