<script type="text/javascript">
$(document).ready(
	function()
	{
		$(window).resize(
			function()
			{
				$(' #resizer ').each(
					function() 
					{
						if ( $(window).width() >= 959 )
						{
							$(' #header h1 a ').css('font-size', '85px');
							$(' #header h1 a ').css('line-height', '90px');
						}
						else if ( $(window).width() >= 765 ) 
						{
							$(' #header h1 a ').css('font-size', '68px');
							$(' #header h1 a ').css('line-height', '90px');
						}
						else if ( $(window).width() >= 475 ) 
						{
							$(' #header h1 a ').css('font-size', '76px');
							$(' #header h1 a ').css('line-height', '90px');
						}
						else
						{
							$(' #header h1 a ').css('font-size', '55px');
							$(' #header h1 a ').css('line-height', '90px');
						}
					}
				)
			}
		);
		if ( $(window).width() >= 959 )
		{
			$(' #header h1 a ').css('font-size', '85px');
			$(' #header h1 a ').css('line-height', '90px');
		}
		else if ( $(window).width() >= 765 ) 
		{
			$(' #header h1 a ').css('font-size', '68px');
			$(' #header h1 a ').css('line-height', '90px');
		}
		else if ( $(window).width() >= 475 ) 
		{
			$(' #header h1 a ').css('font-size', '76px');
			$(' #header h1 a ').css('line-height', '90px');
		}
		else
		{
			$(' #header h1 a ').css('font-size', '55px');
			$(' #header h1 a ').css('line-height', '90px');
		}
	}
);
</script>