<li>
  <a href="{{ "/" | prepend:site.baseurl }}">Home</a>
</li>
<li>
  <a href="{{ "/blog" | prepend:site.baseurl }}">Blog</a>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    About <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{{ "/about" | prepend:site.baseurl }}">Me</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="{{ "/about/favourites" | prepend:site.baseurl }}">Favourites</a></li>
  </ul>
</li>
