<div class="header">	

	<header class="span-10 last" id="header">
	  <h1><a href="/" rel="home bookmark" id="sitetitle">LAI.VICTOR</a></h1>
	</header>
	<div class="icon">
		<a class="icon-link" href="mailto:lai.victor.vl@gmail.com">g</a>
		<a class="icon-link" target="_blank" href="http://www.twitter.com/dblisse">l</a>
		<a class="icon-link" target="_blank" href="http://www.facebook.com/lai.victor.vl">f</a>
		<a class="icon-link" target="_blank" href="http://ca.linkedin.com/in/laivictor">i</a>
	</div>


	<div class="navbar" id="navbar">
		<ul class="nav">
		  <li class="currentpage"><a rel="bookmark" title="Home" href="/">Home</a></li>
		  <li><a rel="bookmark" title="Archive" href="/archive/">Archive</a></li>
		  <li><a rel="bookmark" title="Projects" href="/projects/">Projects</a></li>
		  <li><a rel="bookmark" title="About" href="/about/">About</a></li>
		</ul>
	</div>

</div>