<div class="eight columns" id="resizer">
	<div class="header" id="header">
	<h1><a href="/" rel="home bookmark"><div class="lastname">LAI</div>.<div class="firstname">VICTOR</div></a></h1>
	</div>
</div>

<div class="eight columns">
	<div class="icon" style="font-size: 56px;">
		<a target="_blank" href="http://www.twitter.com/dblisse"><i class="icon-twitter-sign"></i></a>
		<a target="_blank" href="http://ca.linkedin.com/in/laivictor"><i class="icon-linkedin-sign"></i></a>
		<a target="_blank" href="http://www.github.com/Blisse"><i class="icon-github-sign"></i></a>
		<a href="mailto:lai.victor.vl@gmail.com"><i class="icon-envelope"></i></a>
	</div>
</div>

<div class="sixteen columns">
	<div class="navbar" id="navbar">
	<ul class="nav">
	  <li class="currentpage"><a rel="bookmark" title="Home" href="/">Home</a></li>
	  <li><a rel="bookmark" title="Archive" href="/archive/">Archive</a></li>
	  <li><a rel="bookmark" title="Projects" href="/projects/">Projects</a></li>
	  <li><a rel="bookmark" title="About" href="/about/">About</a></li>
	</ul>
	</div>
</div>