<div class="eight columns" id="resizer">
	<div class="header" id="header">
	<h1><a href="/" rel="home bookmark">LAI.VICTOR</a></h1>
	</div>
</div>

<div class="eight columns">
	<div class="icon">
	<a class="icon-link" target="_blank" href="http://www.twitter.com/dblisse">l</a>
	<a class="icon-link" target="_blank" href="http://ca.linkedin.com/in/laivictor">i</a>
	<a class="icon-link" href="mailto:lai.victor.vl@gmail.com">g</a>
	</div>
</div>

<div class="sixteen columns">
	<div class="navbar" id="navbar">
	<ul class="nav">
	  <li class="currentpage"><a rel="bookmark" title="Home" href="/">Home</a></li>
	  <li><a rel="bookmark" title="Archive" href="/archive/">Archive</a></li>
	  <li><a rel="bookmark" title="Projects" href="/projects/">Projects</a></li>
	  <li><a rel="bookmark" title="About" href="/about/">About</a></li>
	</ul>
	</div>
</div>