<script type="text/javascript" src="/js/resizebar.js"></script>
<script type="text/javascript">
$(document).ready(
	function()
	{
		$(window).resize(
			function()
			{
				$(' #name ').each(
					function() 
					{
						if ( $(window).width() >= 960 )
						{
							$(' #header h1 a ').css('font-size', '84px');
							$(function() {
								changeWidth(400);
							 
								function changeWidth(menuWidth){
									var menuItems = $('#header #nav ul li').size();
									var itemWidth = (menuWidth/menuItems)-2;
							 
									$('#nav').css({'width': menuWidth +'px'});
									$('#nav a').css({'width': itemWidth +'px'});
								}
							});
						}
						else if ( $(window).width() >= 768 ) 
						{
							$(' #header h1 a ').css('font-size', '75px');
							$(function() {
								changeWidth(370);
							 
								function changeWidth(menuWidth){
									var menuItems = $('#header #nav ul li').size();
									var itemWidth = (menuWidth/menuItems)-2;
							 
									$('#nav').css({'width': menuWidth +'px'});
									$('#nav a').css({'width': itemWidth +'px'});
								}
							});
						}
						else if ( $(window).width() >= 480 ) 
						{
							$(' #header h1 a ').css('font-size', '75px');
							$(function() {
								changeWidth(350);
							 
								function changeWidth(menuWidth){
									var menuItems = $('#header #nav ul li').size();
									var itemWidth = (menuWidth/menuItems)-2;
							 
									$('#nav').css({'width': menuWidth +'px'});
									$('#nav a').css({'width': itemWidth +'px'});
								}
							});
						}
						else
						{
							$(' #header h1 a ').css('font-size', '53px');
							$(function() {
								changeWidth(310);
							 
								function changeWidth(menuWidth){
									var menuItems = $('#header #nav ul li').size();
									var itemWidth = (menuWidth/menuItems)-2;
							 
									$('#nav').css({'width': menuWidth +'px'});
									$('#nav a').css({'width': itemWidth +'px'});
								}
							});
						}
					}
				)
			}
		);
		if ( $(window).width() >= 960 )
		{
			$(' #header h1 a ').css('font-size', '84px');
			$(function() {
				changeWidth(400);
			 
				function changeWidth(menuWidth){
					var menuItems = $('#header #nav ul li').size();
					var itemWidth = (menuWidth/menuItems)-2;
			 
					$('#nav').css({'width': menuWidth +'px'});
					$('#nav a').css({'width': itemWidth +'px'});
				}
			});
		}
		else if ( $(window).width() >= 768 ) 
		{
			$(' #header h1 a ').css('font-size', '75px');
			$(function() {
				changeWidth(370);
			 
				function changeWidth(menuWidth){
					var menuItems = $('#header #nav ul li').size();
					var itemWidth = (menuWidth/menuItems)-2;
			 
					$('#nav').css({'width': menuWidth +'px'});
					$('#nav a').css({'width': itemWidth +'px'});
				}
			});
		}
		else if ( $(window).width() >= 480 ) 
		{
			$(' #header h1 a ').css('font-size', '75px');
			$(function() {
				changeWidth(350);
			 
				function changeWidth(menuWidth){
					var menuItems = $('#header #nav ul li').size();
					var itemWidth = (menuWidth/menuItems)-2;
			 
					$('#nav').css({'width': menuWidth +'px'});
					$('#nav a').css({'width': itemWidth +'px'});
				}
			});
		}
		else
		{
			$(' #header h1 a ').css('font-size', '53px');
			$(function() {
				changeWidth(310);
			 
				function changeWidth(menuWidth){
					var menuItems = $('#header #nav ul li').size();
					var itemWidth = (menuWidth/menuItems)-2;
			 
					$('#nav').css({'width': menuWidth +'px'});
					$('#nav a').css({'width': itemWidth +'px'});
				}
			});
		}
	}
);
</script>