<script type="text/javascript" src="/js/resizebar.js"></script>
<script type="text/javascript">
$(document).ready(
	function()
	{
		$(window).resize(
			function()
			{
				$(' #name ').each(
					function() 
					{
						if ( $(window).width() >= 960 )
						{
							$(' #header h1 a ').css('font-size', '84px');
							$(function() {
								changeWidth(200);
							 
								function changeWidth(menuWidth){
									var menuItems = $('#header #submenu ul li').size();
									var itemWidth = (menuWidth/menuItems)-2;
							 
									$('#submenu').css({'width': menuWidth +'px'});
									$('#submenu a').css({'width': itemWidth +'px'});
								}
							});
						}
						else if ( $(window).width() >= 768 ) 
						{
							$(' #header h1 a ').css('font-size', '75px');
							$(function() {
								changeWidth(170);
							 
								function changeWidth(menuWidth){
									var menuItems = $('#header #submenu ul li').size();
									var itemWidth = (menuWidth/menuItems)-2;
							 
									$('#submenu').css({'width': menuWidth +'px'});
									$('#submenu a').css({'width': itemWidth +'px'});
								}
							});
						}
						else if ( $(window).width() >= 480 ) 
						{
							$(' #header h1 a ').css('font-size', '75px');
							$(function() {
								changeWidth(140);
							 
								function changeWidth(menuWidth){
									var menuItems = $('#header #submenu ul li').size();
									var itemWidth = (menuWidth/menuItems)-2;
							 
									$('#submenu').css({'width': menuWidth +'px'});
									$('#submenu a').css({'width': itemWidth +'px'});
								}
							});
						}
						else
						{
							$(' #header h1 a ').css('font-size', '53px');
							$(function() {
								changeWidth(120);
							 
								function changeWidth(menuWidth){
									var menuItems = $('#header #submenu ul li').size();
									var itemWidth = (menuWidth/menuItems)-2;
							 
									$('#submenu').css({'width': menuWidth +'px'});
									$('#submenu a').css({'width': itemWidth +'px'});
								}
							});
						}
					}
				)
			}
		);
		if ( $(window).width() >= 960 )
		{
			$(' #header h1 a ').css('font-size', '84px');
			$(function() {
				changeWidth(200);
			 
				function changeWidth(menuWidth){
					var menuItems = $('#header #submenu ul li').size();
					var itemWidth = (menuWidth/menuItems)-2;
			 
					$('#submenu').css({'width': menuWidth +'px'});
					$('#submenu a').css({'width': itemWidth +'px'});
				}
			});
		}
		else if ( $(window).width() >= 768 ) 
		{
			$(' #header h1 a ').css('font-size', '75px');
			$(function() {
				changeWidth(185);
			 
				function changeWidth(menuWidth){
					var menuItems = $('#header #submenu ul li').size();
					var itemWidth = (menuWidth/menuItems)-2;
			 
					$('#submenu').css({'width': menuWidth +'px'});
					$('#submenu a').css({'width': itemWidth +'px'});
				}
			});
		}
		else if ( $(window).width() >= 480 ) 
		{
			$(' #header h1 a ').css('font-size', '75px');
			$(function() {
				changeWidth(175);
			 
				function changeWidth(menuWidth){
					var menuItems = $('#header #submenu ul li').size();
					var itemWidth = (menuWidth/menuItems)-2;
			 
					$('#submenu').css({'width': menuWidth +'px'});
					$('#submenu a').css({'width': itemWidth +'px'});
				}
			});
		}
		else
		{
			$(' #header h1 a ').css('font-size', '53px');
			$(function() {
				changeWidth(155);
			 
				function changeWidth(menuWidth){
					var menuItems = $('#header #submenu ul li').size();
					var itemWidth = (menuWidth/menuItems)-2;
			 
					$('#submenu').css({'width': menuWidth +'px'});
					$('#submenu a').css({'width': itemWidth +'px'});
				}
			});
		}
	}
);
</script>