<script type="text/javascript" src="/js/resizebar.js"></script>
<script type="text/javascript">
function changeSubWidth(menuWidth){
	var menuItems = $('#header #submenu ul li').size();
	var itemWidth = (menuWidth/menuItems);

	$('#submenu').css({'width': menuWidth +'px'});
	$('#submenu a').css({'width': itemWidth +'px'});
}
var len_submenu;
if(document.getElementById('submenu')){
	len_submenu = document.getElementById('submenu').getElementsByTagName('li').length;
}
$(document).ready(
	function()
	{
		$(window).resize(
			function()
			{
				if ( $(window).width() - 30 >= 960 )
				{
					$(function() {
						changeSubWidth(len_submenu * 105);
					});
				}
				else if ( $(window).width() - 30 >= 768 ) 
				{
					$(function() {
						changeSubWidth(len_submenu * 105);
					});
				}
				else if ( $(window).width() - 30 >= 480 ) 
				{
					$(function() {
						changeSubWidth(len_submenu * 105);
					});
				}
				else
				{
					$(function() {
						changeSubWidth(len_submenu * 75);
					});
				}
			}
		);
		if ( $(window).width() - 30 >= 960 )
		{
			$(function() {
				changeSubWidth(len_submenu * 105);
			});
		}
		else if ( $(window).width() - 30 >= 768 ) 
		{
			$(function() {
				changeSubWidth(len_submenu * 105);
			});
		}
		else if ( $(window).width() - 30 >= 480 ) 
		{
			$(function() {
				changeSubWidth(len_submenu * 105);
			});
		}
		else
		{
			$(function() {
				changeSubWidth(len_submenu * 75);
			});
		}
	}
);
</script>