
<script type="text/javascript">
var len_submenu = document.getElementById('submenu').getElementsByTagName('li').length;
function changeSubWidth(menuWidth){
	var menuItems = $('#header #submenu ul li').size();
	var itemWidth = (menuWidth/menuItems);

	$('#submenu').css({'width': menuWidth +'px'});
	$('#submenu a').css({'width': itemWidth +'px'});
}
$(document).ready(
	function()
	{
		$(window).resize(
			function()
			{
				if ( $(window).width() >= 960 )
				{
					$(' #header h1 a ').css('font-size', '84px');
					$(function() {
						changeSubWidth(len_submenu * 100);
					});
				}
				else if ( $(window).width() >= 768 ) 
				{
					$(' #header h1 a ').css('font-size', '75px');
					$(function() {
						changeSubWidth(len_submenu * 90);
					});
				}
				else if ( $(window).width() >= 480 ) 
				{
					$(' #header h1 a ').css('font-size', '75px');
					$(function() {
						changeSubWidth(len_submenu * 80);
					});
				}
				else
				{
					$(' #header h1 a ').css('font-size', '53px');
					$(function() {
						changeSubWidth(len_submenu * 75);
					});
				}
			}
		);
		if ( $(window).width() >= 960 )
		{
			$(' #header h1 a ').css('font-size', '84px');
			$(function() {
				changeSubWidth(len_submenu * 100);
			});
		}
		else if ( $(window).width() >= 768 ) 
		{
			$(' #header h1 a ').css('font-size', '75px');
			$(function() {
				changeSubWidth(len_submenu * 90);
			});
		}
		else if ( $(window).width() >= 480 ) 
		{
			$(' #header h1 a ').css('font-size', '75px');
			$(function() {
				changeSubWidth(len_submenu * 80);
			});
		}
		else
		{
			$(' #header h1 a ').css('font-size', '53px');
			$(function() {
				changeSubWidth(len_submenu * 75);
			});
		}
	}
);
</script>