<script type="text/javascript" src="/js/resizebar.js"></script>
<script type="text/javascript">
function changeMainWidth(menuWidth){
	var menuItems = $('#header #mainmenu ul li').size();
	var itemWidth = (menuWidth/menuItems);

	$('#mainmenu').css({'width': menuWidth +'px'});
	$('#mainmenu a').css({'width': itemWidth +'px'});
}
$(document).ready(
	function()
	{
		$(window).resize(
			function()
			{
				if ( $(window).width() >= 960 )
				{
					$(' #header h1 a ').css('font-size', '84px');
					$(function() {
						changeMainWidth(400);			
					});
				}
				else if ( $(window).width() >= 768 ) 
				{
					$(' #header h1 a ').css('font-size', '75px');
					$(function() {
						changeMainWidth(360);
					});
				}
				else if ( $(window).width() >= 480 ) 
				{
					$(' #header h1 a ').css('font-size', '75px');
					$(function() {
						changeMainWidth(320);
					});
				}
				else
				{
					$(' #header h1 a ').css('font-size', '53px');
					$(function() {
						changeMainWidth(300);
					});
				}
			}
		);
		if ( $(window).width() >= 960 )
		{
			$(' #header h1 a ').css('font-size', '84px');
			$(function() {
				changeMainWidth(400);
			});
		}
		else if ( $(window).width() >= 768 ) 
		{
			$(' #header h1 a ').css('font-size', '75px');
			$(function() {
				changeMainWidth(360);
			});
		}
		else if ( $(window).width() >= 480 ) 
		{
			$(' #header h1 a ').css('font-size', '75px');
			$(function() {
				changeMainWidth(320);
			});
		}
		else
		{
			$(' #header h1 a ').css('font-size', '53px');
			$(function() {
				changeMainWidth(300);
			});
		}
	}
);
</script>