<meta name="author" content="{{ site.author }}" />
<meta name="description" content="{{ site.description }}" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Google Fonts -->
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:200,400,600'>
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Raleway:200,400,600'>
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Questrial:200,400,600'>
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Merriweather:300,400,600,700'>

<!-- Base CSS -->
<link rel='stylesheet' type='text/css' href="/assets/stylesheets/generated/main.css">

<!-- jQuery -->
<script type="text/javascript" src="/assets/js/vendor/jquery/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/assets/js/vendor/miscellaneous/custom.modernizr.js"></script>

<!-- fancyBox -->
<link rel="stylesheet" type="text/css" href="/assets/vendor/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
<link rel="stylesheet" type="text/css" href="/assets/vendor/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
<link rel="stylesheet" type="text/css" href="/assets/vendor/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
<script type="text/javascript" src="/assets/vendor/fancybox/jquery/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="/assets/vendor/fancybox/jquery.fancybox.js?v=2.1.5"></script>
<script type="text/javascript" src="/assets/vendor/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/assets/vendor/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="/assets/vendor/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<script type="text/javascript" src="/assets/vendor/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<!-- FavIcon -->
<link rel="shortcut icon" href="/favicon.ico" />
