<!-- Site Author -->
<meta name="author" content="{{ site.author }}" />

<!-- Site Description -->
<meta name="description" content="{{ site.description }}" />

<!-- Site Charset -->
<meta charset="utf-8" />

<!-- Site Viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Blog Fonts -->
{% include googlefonts.html %}

<!-- Foundation CSS -->
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/foundation/foundation.css">

<!-- Base CSS -->
<link rel="stylesheet" href="/css/base.css">

<!-- Syntax Highlighting CSS -->
<link rel="stylesheet" href="/css/syntax.css" type="text/css" />
<link rel="stylesheet" href="/css/pygments.css" type="text/css" />

<!-- IcoMoon -->
<link rel="stylesheet" href="/css/font-icomoon/icomoon.css">

<!-- jQuery -->
<script type="text/javascript" src="/js/jquery/jquery-2.0.3.min.js"></script>
<script src="/js/vendor/custom.modernizr.js"></script>

<!-- fancyBox -->
<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="/js/fancybox/jquery.mousewheel-3.0.6.pack.js"></script>

<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="/resources/fancybox/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="/resources/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />

<!-- Add Button helper (this is optional) -->
<link rel="stylesheet" type="text/css" href="/resources/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
<script type="text/javascript" src="/resources/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

<!-- Add Thumbnail helper (this is optional) -->
<link rel="stylesheet" type="text/css" href="/resources/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
<script type="text/javascript" src="/resources/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<!-- Add Media helper (this is optional) -->
<script type="text/javascript" src="/resources/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<!-- Fav Icon -->
<link rel="shortcut icon" href="/favicon.ico" />
