  <!-- Site Author -->
  <meta name="author" content="{{ site.author }}" />
  
  <!-- Site Description -->
  <meta name="description" content="{{ site.description }}" />

  <!-- Site Viewport -->
  <meta name="viewport" content="user-scalable=no,width=device-width" />

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Blog CSS -->
  <link href="/css/reset.css" media="projection,screen" rel="stylesheet" type="text/css" /> 
  
  <!-- Blog Fonts -->
  {% include googlefonts.html %}

  <!-- FontAwesome -->
  <link rel="stylesheet" href="/css/font-awesome/font-awesome.css">

  <!-- Base CSS -->
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/header/header.css">
  <link rel="stylesheet" href="/css/footer/footer.css">

  <!-- Syntax Highlighting CSS -->
  <link href="/css/syntax.css" rel="stylesheet" type="text/css" />

  <!-- Personal - Tiles -->
  <link rel="stylesheet" href="/css/tiles/tiles.css">
  
  <!-- Fav Icon -->
  <link href="/images/favicon.ico" rel="shortcut icon" /> 

  <!-- Google Analytics 
  {% include googleanalytics.html %}-->
  
  
  <!-- Skeleton -->
  <link rel="stylesheet" href="/css/skeleton/skeleton.css">
  
  
  <!-- JQuery 
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.17/jquery-ui.min.js"></script> -->
  
  
