// basics
$color-black: rgba(0,0,0,1.0);
$color-dark-gray: rgba(55,55,55,1);
$color-gray: rgba(169,167,174, 1.0);
$color-light-gray: rgba(231,231,228,1);
$color-white: rgba(255,255,255, 1.0);

// actually in use
$color-slate-blue: rgb(85,98,112);
$color-pacifica-blue: rgb(78,205,196);
$color-apple-green: rgb(199,244,100);
$color-cheery-pink: rgb(255,107,107);
$color-pillow-red: rgb(196,77,88);
$color-fetch-green: rgb(157,224,173);
$color-pacifica-green: rgb(69,173,168);

// more
$color-june-blue: rgb(178,217,247);
$color-en-blue: rgb(72,122,161);
$color-filings-black: rgb(61,60,59);
$color-fracture-gray: rgb(124,128,113);
$color-moving-white: rgb(221,227,202);

// mint
$color-like-black: rgb(89,91,90);
$color-turqoise-green: rgb(20,195,162);
$color-crystal-green: rgb(13,229,168);
$color-syrup-green: rgb(124,244,154);
$color-tender-green: rgb(184,253,153);

// adrift
$color-sunlit-green: rgb(207,240,158);
$color-seafoam-green: rgb(168,219,168);
$color-sea-green: rgb(121,189,154);
$color-sail-blue: rgb(59,134,134);
$color-adrift-blue: rgb(11,72,107);
