@import "compass/css3";

/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('/assets/fonts/FontName.eot');
      src: url('/assets/fonts/FontName.eot?iefix') format('eot'),
           url('/assets/fonts/FontName.woff') format('woff'),
           url('/assets/fonts/FontName.ttf') format('truetype'),
           url('/assets/fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/

@include font-face("Nexa Bold",
    font-files(
        "Nexa Bold.svg#nexa_lightregular",
        "Nexa Bold.woff",
        "Nexa Bold.ttf"
    ),
    "Nexa Bold.eot", normal
);
