// Add your own custom CSS here.
@import "pygments-tomorrow";

.post-content table,
.post-excerpt-home table,
.post-nav table {
  @extend .table;
  @extend .table-bordered;
}
.section-header-archive {
  margin-top: 0;
}
.section-header-archive ~ .section-header-archive {
  margin-top: $space-md;
}
.post-title-home {
  margin: 0;
  a {
    color: inherit;
  }
}
.post-excerpt-home {
  margin-bottom: $space-md;
}
.home-read-more {
  margin-bottom: 40px;
}

.post-header-intro {
  margin: 0;
  a {
    color: inherit;
  }
}
.post-header-mission {
  margin: 0;
  a {
    color: inherit;
  }
}
