@import "partials/base";

#about-page {
    margin-top: 2.0rem;

    #about-page-social-icons {
        margin-bottom: 4rem;

        a {
            color: $color-pillow-red;
            white-space: nowrap;
            text-align: center;
            margin: 0 0.6rem;

            span {
                font-size: 2.4rem;
            }

            &:link, &:visited {
                span {
                    color: $color-turqoise-green;
                }
            }

            &:hover {
                span {
                    color: $color-pacifica-green;
                }
            }

            &:active {
                span {
                    color: $color-slate-blue;
                }
            }

        }
    }

    #about-page-quotes {
        background: image-url("background/background_7.jpg", false, false) top center no-repeat fixed;
        background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;

        .about-page-quote {
            background: rgba(73,117,124,0.35);
            border-left: 4px solid $color-white;
            padding: 1rem;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;

            p, cite {
                text-shadow: 1px 1px 1px #333;
                color: $color-white;
            }

            p {
                padding: 0rem 0.3rem;
            }

            cite {
                margin-bottom: 0.6rem;
            }
        }
    }
}
