@import "partials/base";

$background_image_url: "background/background_5.jpg";

#home-page {

    #home-page-quote-with-background {
        background: image-url($background_image_url, false, false) top center no-repeat fixed;
        background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;

        #home-page-mission-statement-quote {

            p {
                font-family: $font-rale;
                font-size: 2.2rem;
                font-weight: 300;
                color: $color-white;
                margin: 1rem 0;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
            }

            border-left: none;
            margin: 2rem 0 4rem;
            padding-bottom: 1rem;
        }
    }

    .home-page-content-tile {
        display: block;
        background: #AAAAAA;
    }
}
