#navigation-menu {

    #navigation-menu-header {

        padding-bottom: 0;

        h1 {
            padding: 0;
            margin: 0;

            a {
                display: block;
                color: $color-light-gray;
                font-size: 4.3rem;
                line-height: 3.1rem;
                font-family: "Code Bold", sans-serif;
                font-weight: bolder;
                text-transform: uppercase;

                padding: 0;
                margin: 0;

                &:link, &:visited {
                    color: $color-light-gray;
                }

                &:hover {
                    color: $color-radio-purple;
                }

                &:active {
                    color: $color-light-gray;
                }

                &.active {
                    &:link, &:visited {
                        color: $color-pillow-red;
                    }

                    &:hover {
                        color: $color-coral-red;
                    }

                    &:active {
                        color: $color-light-gray;
                    }
                }
            }
        }
    }

    #navigation-menu-active-directories-wrapper {
        display: block;
    }

    #navigation-menu-active-directories {

        a {
            font-family: "Raleway";
            text-transform: uppercase;

            &:link, &:visited {
                color: $color-gray;
            }

            &:hover {
                color: $color-radio-purple;
            }

            &:active {
                color: $color-light-gray;
            }

            &.active {
                &:link, &:visited {
                    color: $color-pillow-red;
                }

                &:hover {
                    color: $color-coral-red;
                }

                &:active {
                    color: $color-light-gray;
                }
            }
        }
    }
}
