@import "partials/base";

// Small screens
@media only screen {
    #navigation-menu #navigation-menu-lastname {
        display: none;
    }
}

// Medium screens
@media only screen and (min-width: 32.063em) {
    #navigation-menu #navigation-menu-lastname {
        display: inline;
    }
}


#navigation-menu {
    margin: 2.0rem 0;

    #navigation-menu-header {

        a {
            display: block;
            color: $color-light-gray;
            font-family: $font-nexa;
            font-size: 3.8rem;
            text-transform: uppercase;
            width: 100%;
            margin: 0rem;
            padding: 0.6rem 0.6rem 0 0.6rem;

            -webkit-transition: color 50ms ease 50ms;
            -moz-transition: color 50ms ease 50ms;
            -o-transition: color 50ms ease 50ms;
            transition: color 50ms ease 50ms;

            &:link, &:visited {
                color: $color-light-gray;
                background: none;
            }

            &:hover {
                color: $color-white;
                background: $color-slate-blue;
            }

            &:active {
                color: $color-white;
                background: $color-crystal-green;
            }

            &.active {
                color: $color-white;

                &:link, &:visited {
                    background: $color-pacifica-blue;
                }

                &:hover {
                    background: $color-slate-blue;
                }

                &:active {
                    background: $color-crystal-green;
                }
            }
        }
    }

    #navigation-menu-active-directories {
        display: block;
        margin-top: 1.6rem;
        color: $color-white;
        background: $color-slate-blue;

        a {
            font-family: $font-rale;
            font-weight: $font-weight-regular;
            font-size: 1.2rem;
            text-transform: uppercase;
            text-align: left;
            margin: 0rem;
            padding: 0.3rem 0.7rem;
            line-height: 2.0rem;

            -webkit-transition: color 50ms ease 50ms;
            -moz-transition: color 50ms ease 50ms;
            -o-transition: color 50ms ease 50ms;
            transition: color 50ms ease 50ms;
            border-bottom: none;

            &:link, &:visited {
                color: $color-white;
                background: $color-slate-blue;
            }

            &:hover {
                color: $color-pacifica-blue;
                background: $color-white;
            }

            &:active {
                color: $color-pacifica-green;
                background: $color-white;
            }

            &.active {
                &:link, &:visited {
                    color: $color-pacifica-blue;
                    background: $color-white;
                }

                &:hover {
                    color: $color-pacifica-green;
                    background: $color-white;
                }

                &:active {
                    color: $color-pacifica-green;
                    background: $color-white;
                }
            }
        }
    }
}
