*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  background-color: $backgroundColour;
  color: $bodyColour;
  overflow-x: hidden;
}

.section {
  padding: 2rem 0;

  @include breakpoint(break-1) {
    padding: 3rem 0;
  }

  @include breakpoint(break-2) {
    padding: 4rem 0;
  }
}

img {
  -ms-interpolation-mode: bicubic;

  height: auto;
  vertical-align: middle;
  width: 100%;

  @include breakpoint(break-1) {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }
}

.button-align {
  @include baseline(zeta, $bodytype, 2, 2, all);
}

.navbar {
    margin: auto;
    padding: $base-spacing $base-spacing;
    width: 100%;
    min-height: 70px;
}
.back-outer {
    text-align: center;
    width: $big-circle-size;
    height: $big-circle-size;
    border-radius: $big-circle-size;
    background-color: $linkColour;
    padding: 0;
}
.back-inner {
    height: 24px;
    width: 24px;
    margin: 3px 3px;
    border: 2px solid $backgroundColour;
    border-radius: 24px;
    background: $backgroundColour;
}
.back-inner:hover {
    background: $linkColour;
}
.disabled {
    font-size: 17px;
    color: #fff;
    background: $accent-color;
    border: none;
    padding: $base-spacing/4 $base-spacing/2;
}
.disabled:hover {
    color: #fff;
    background: $accent-color;
    border: none;
    padding: $base-spacing/4 $base-spacing/2;
}
.capsule {
    padding: $base-spacing/4 $base-spacing/2;
    font-size: 17px;
    border-radius: 15px;
    background: $accent-color;
    color: #fff;
}
.anchorjs-link {
    border: none;
}
.anchorjs-link:hover {
    color: $accent-color;
    border: none;
}
.hide {
    display: inline-block;
}
.faded {
    color: $light-color;
    font-weight: lighter;
}
.underline {
    border-bottom: 2px solid $underline-color;
}
.underline:hover {
    color: inherit;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    border-bottom: 2px solid $accent-color;
}
.button {
    font-weight: lighter;
    font-size: 13px;
    border-radius: 20px;
    background: #fff;
    padding: $base-spacing/4 $base-spacing;
    color: $medium-gray-color;
}
.button:hover {
    background: $accent-color;
    color: #fff;
    -webkit-transition: 0.3s ease;
}
.rrssb-buttons {
    margin: $base-spacing 0;
}
.different-highlight {
    color: inherit;
}
.different-highlight:hover {
    color: $accent-color;
}

#img-about {
    margin: inherit $base-spacing;
    float: left;
}
.about-img {
    height: $about-image-size;
    width: $about-image-size;
    border-radius: $about-image-size;
    margin: $base-spacing/3 $base-spacing/5;
    margin-right: $base-spacing;
}
.no-image {
    @extend .about-img;
    height: $about-image-size/1.2;
    width: $about-image-size/1.2;
    border-radius: $about-image-size/1.2;
    background: $accent-color;
}
.about-stub {
    margin: 0 $base-spacing/2;
    padding: $base-spacing;
    font-weight: lighter;
    @media (max-width: $break-small) {
    }
}
.alignable {
    display: inline-block;
}
.pull-left {
    @extend .alignable;
    float: left;
}
.pull-right {
    @extend .alignable;
    float: right;
}
.theme-footer {
    font-weight: lighter;
    font-size: 15px;
    color: $light-color;
    padding: $base-spacing;
}
.copyright {
    color: $accent-color;
}
