#portfolio-page {

    margin-top: 0;
    padding-top: 0;


    .portfolio-page-title-wrapper {

        margin-top: 0;
        padding-top: 0;

        .portfolio-page-title {

            text-transform: uppercase;

            margin: 0;
            padding: 0;
        }

    }

    #portfolio-page-jobs, #portfolio-page-projects {

        .portfolio-page-job-wrapper, .portfolio-page-project-wrapper {

            margin-bottom: 2.4rem;

            .portfolio-page-job, .portfolio-page-project {

                .portfolio-page-job-company {
                    text-transform: uppercase;
                    color: $color-pillow-red;
                    @include sassline(20, $resumetype, 2, 0, all);
                }

                .portfolio-page-job-title, .portfolio-page-project-title {
                    font-weight: bold;
                    @include sassline(22, $resumetype, 2, 0, all);
                }

                .portfolio-page-job-date {
                    text-transform: uppercase;
                    @include sassline(20, $resumetype, 2, 0, all);
                }

                .portfolio-page-job-descriptions, .portfolio-page-project-descriptions {
                    margin-top: 0;
                    padding-top: 0;

                    .portfolio-page-job-description, .portfolio-page-project-description {
                        @include sassline(15, $resumetype, 1.2, 0, all);
                    }
                }
            }
        }
    }
}
