@import "partials/base";

#resume-page {
    margin: 2.0rem 0;

    p, a, li {
        font-family: $font-open;
        font-size: 1.6rem;
        color: $color-print-green !important;
        line-height: 1.8rem;

        &:link, &:visited, &:hover, &:active {
            color: $color-print-green !important;
        }
    }

    .resume-page-title-wrapper {
        .resume-page-title {
            margin: 0;

            p {
                font-family: $font-nexa;
                font-size: 4.7rem;
                color: #333 !important;
            }
        }

        .resume-page-contact {
            margin-top: -1.0rem;

            // uncomment to print
            // margin-top: -5.0rem;

            p, a, p a {
                margin: 0;
                padding: 0;
                font-family: $font-ques;
                font-size: 1.0rem;
                line-height: 1.3rem;
                color: #333 !important;
                text-decoration: none;
                text-align: right;

                &:link, &:visited, &:hover, &:active {
                    color: #333 !important;
                    border: none;
                }
            }
        }
    }

    .resume-page-header-wrapper {
        margin: 1.2rem 0 0.9rem;

        .resume-page-header {
            a {
                padding: 0.4rem 0.4rem;
                font-family: $font-rale;
                font-size: 1.0em;
                font-weight: 400;
                color: #aaa !important;

                &.active {
                    font-weight: 600;
                    color: #333 !important;
                    border-bottom: 1px solid #333;
                }
            }
        }
    }

    #resume-page-skills {
        .resume-page-skill-wrapper {
            margin-bottom: 0.6em;

            .resume-page-skill {
                .resume-page-skill-description-list {
                    margin-left: 0;
                    margin-bottom: 0;
                    padding-left: 0.1rem;

                    .resume-page-skill-description {
                        font-family: $font-open;
                        font-size: 1.0rem;
                        color: #333 !important;
                        margin: 0 0;
                        line-height: 1.4rem;
                    }
                }
            }
        }
    }

    #resume-page-jobs {
        .resume-page-job-wrapper {
            margin-bottom: 0.6em;

            .resume-page-job {
                .resume-page-job-company {
                    font-family: $font-ques;
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: #666 !important;
                }

                .resume-page-job-title {
                    font-family: $font-ques;
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: $color-print-green !important;
                    text-transform: uppercase;
                }

                .resume-page-job-date {
                    font-family: $font-ques;
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: #666 !important;
                }

                .resume-page-job-description-list {
                    margin-left: 0;
                    margin-bottom: 0;
                    padding-left: 0.1rem;

                    .resume-page-job-description {
                        font-family: $font-open;
                        font-size: 1.0rem;
                        color: #333 !important;
                        margin: 0 0;
                        line-height: 1.4rem;
                    }
                }
            }
        }
    }

    #resume-page-projects {
        .resume-page-project-wrapper {
            margin-bottom: 0.6em;

            .resume-page-project {
                .resume-page-project-title {
                    font-family: $font-ques;
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: $color-print-green !important;
                    text-transform: uppercase;
                }

                .resume-page-project-description-list {
                    margin-left: 0;
                    margin-bottom: 0;
                    padding-left: 0.1rem;

                    .resume-page-project-description {
                        font-family: $font-open;
                        font-size: 1.0rem;
                        color: #333 !important;
                        margin: 0 0;
                        line-height: 1.4rem;
                    }
                }
            }
        }
    }

    #resume-page-education {
        .resume-page-education-wrapper {
            .resume-page-education-degree {
                margin-bottom: 0.2rem;
                font-family: $font-ques;
                font-size: 1.2rem;
                font-weight: 400;
                color: $color-print-green !important;
                text-transform: uppercase;
            }

            .resume-page-education-school {
                padding-left: 0.4rem;
                font-family: $font-open;
                font-size: 1.0rem;
            }
        }
    }
}

@media print {
    body {
        font-size: 8pt;
        -webkit-print-color-adjust: exact;
    }

    p a, a {
        text-decoration: none;
    }

    a[href]:after {
        content: none !important;
    }
}
