@import "partials/base";

p, li {
    color: $color-text;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    word-break: normal;
    word-wrap: break-word;

    a {
        -webkit-transition: color 20ms ease;
        -moz-transition: color 20ms ease;
        -o-transition: color 20ms ease;
        transition: color 20ms ease;

        display: inline-block;
        color: $color-link;
        border-bottom: $base-link-underline-width dashed $color-link;

        &:link, &:visited {
            color: $color-link;
            border-bottom: $base-link-underline-width dashed $color-link;
        }

        &:hover {
            color: $color-link-hover;
            border-bottom: $base-link-underline-width solid $color-link-hover;
        }

        &:active {
            color: $color-active;
            border-bottom: $base-link-underline-width dashed $color-active;
        }
    }
}


ul, ol {
    color: $color-text;
    list-style-position: outside;
    vertical-align: middle;

    li {
        a {
            vertical-align: top;
            display: inline-block;
        }
    }

    &.no-bullets {
        list-style-type: none;
    }

    &.circle {
        list-style-type: circle;
    }

    &.square {
        list-style-type: square;
    }
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 2.4rem;
    display: block;
    color: $color-text;
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    text-transform: lowercase;

    a {
        display: block;
        color: $color-header-link;
        text-transform: lowercase;

        &:link, &:visited {
            color: $color-header-link;
            border-bottom: $base-link-underline-width dashed $color-header-link;
        }

        &:hover {
            color: $color-header-link-hover;
            border-bottom: $base-link-underline-width solid $color-header-link-hover;
        }

        &:active {
            color: $color-active;
            border-bottom: $base-link-underline-width dashed $color-active;
        }
    }
}
