---
layout: base/default
headers:
    -
        link: "/"
        highlight: "home"
        name: "Victor"
    -
        link: "/blog/"
        highlight: "blog"
        name: "Blog"
        dirs:
            -
                link: "/blog/"
                highlight: "latest"
                name: "latest"
            -
                link: "/blog/archives/"
                highlight: "archives"
                name: "archives"
    -
        link: "/portfolio/"
        highlight: "portfolio"
        name: "Portfolio"
        dirs:
            -
                link: "/portfolio/#projects"
                highlight: "projects"
                name: "projects"
            -
                link: "/portfolio/resume/lai-victor-resume.pdf"
                highlight: "resume"
                name: "resume"
    -
        link: "/about/"
        highlight: "about"
        name: "About"
        dirs:
            -
                link: "/about/"
                highlight: "profile"
                name: "profile"
            -
                link: "/about/favourites/"
                highlight: "favourites"
                name: "bookmarks"
---
<div id="navigation-menu">
    <div class="section typeset" id="navigation-menu-header">
        <div class="single-measure">
            {% assign hashighlight = false %}
            {% for header in page.headers %}
            {% if page.navigationhighlight == header.highlight %}
            {% assign hashighlight = true %}
            <a href="{{ header.link }}" class="active">
                {{ header.name }}
            </a>
            {% else %}
            <a href="{{ header.link }}">
                {{ header.name }}
            </a>
            {% endif %}
            <br/>
            {% endfor %}
        </div>

        {% for header in page.headers %}
        {% if page.navigationhighlight == header.highlight %}
        {% if header.dirs %}
        <div class="single-measure" id="navigation-menu-active-directories-wrapper">
            <div id="navigation-menu-active-directories">
                {% for subdir in header.dirs %}
                {% if page.navigationsubhighlight == subdir.highlight %}
                <a href="{{ subdir.link }}" class="active">
                    {{ subdir.name }}
                </a>
                {% else %}
                <a href="{{ subdir.link }}">
                    {{ subdir.name }}
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{{ content }}
