/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('/assets/fonts/FontName.eot');
      src: url('/assets/fonts/FontName.eot?iefix') format('eot'),
           url('/assets/fonts/FontName.woff') format('woff'),
           url('/assets/fonts/FontName.ttf') format('truetype'),
           url('/assets/fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/

@font-face {
    font-family: 'Nexa Bold';
    src: url('/assets/fonts/Nexa Bold.eot');
    src: url('/assets/fonts/Nexa Bold.eot?#iefix') format('eot'),
         url('/assets/fonts/Nexa Bold.svg#nexa_lightregular') format('svg'),
         url('/assets/fonts/Nexa Bold.woff') format('woff'),
         url('/assets/fonts/Nexa Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$font-monospace: "Consolas", monospace !important;

$font-open: "Open Sans";
$font-nexa: "Nexa Bold";
$font-rale: "Raleway";