@import "colors";
@import "typography";

/* import reset */

/* #Media Queries
================================================== */

// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */


/* #Body
================================================== */


    html {
        overflow-y: scroll;
        -webkit-overflow-x: hidden;
        -ms-overflow-x: hidden;
        -o-overflow-x: hidden;
        overflow-x: hidden;
    }

    body {
        -webkit-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        background-color: $color-white;
    }

    *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }


/* #Common Snippets
================================================== */

    .no-wrap{ white-space: nowrap; }

    .italic { font-style: italic; }
    .bold { font-weight: bold; }

    img.scale-with-grid {
        max-width: 100%;
        height: auto;
    }


/* #Normal stuff
================================================== */

    p, li {
        font-family: $font-open;
        color: $color-dark-gray;
        font-size: 1.1rem;
        font-weight: 400;

        a {
            display: inline-block;

            -webkit-transition: color 50ms ease 50ms;
            -moz-transition: color 50ms ease 50ms;
            -o-transition: color 50ms ease 50ms;
            transition: color 50ms ease 50ms;

            border-bottom: 2px dotted transparent;
        }

        a:link, a:visited {
            color: $color-light-red;
            border-bottom: 2px dotted $color-light-red;
        }

        a:hover {
            color: $color-white;
            background: $color-light-red;
            border-bottom: 2px dotted $color-light-red;
        }

        a:active {
            color: $color-white;
            background: $color-gray;
            border-bottom: 2px dotted $color-gray;
        }
    }


    h1, h2, h3, h4, h5, h6 {
        font-family: $font-rale;
        display: block;
        text-transform: uppercase;
        color: $color-dark-gray;

        margin-top: 2rem;
        
        &.bg {
            background: $color-gray;
            color: $color-white;
            padding-top: 0.2rem;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
        }

        a {
            color: $color-dark-gray;
            display: block;

            &.bg {
                background: $color-light-red;
                color: $color-white;
                padding-top: 0.3rem;
                padding-left: 0.3rem;
                padding-right: 0.3rem;

                &.highlight {
                    background: $color-red;
                }

                &:hover {
                    background: $color-gray;
                }

                &:active {
                    background: $color-dark-gray;
                }
            }
        }
    }

    ul {
        &.square {
            li {
                color: $color-gray;
            }
        }
    }

    .button {
        font-family: $font-nexa;
        text-transform: uppercase;
    }

    .work-resume {
        text-align: center;

        a {
            font-size: 3.6rem;
            // display: inline-block;

            span {

                color: $color-light-red;

                &:hover {
                    color: $color-gray;
                }

                &:active {
                    color: $color-dark-gray;
                }
            }
        }
    }

    .work-entry {
        margin-bottom: 1.0rem;
        margin-top: 0rem;

        .work-title {
            margin-bottom: 0;
            display: inline-block;

            font-family: $font-rale;
            font-weight: 400;

            .link {
                font-size: 1.3rem;
                display: inline-block;
                vertical-align: middle;
            }

            .company {
                color: $color-gray;
            }

            a {
                color: $color-light-red;
                display: block;

                &:hover {
                    color: $color-gray;
                }

                &:active {
                    color: $color-dark-gray;
                }
            }
        }

        .work-date {
            white-space: nowrap;
            text-transform: uppercase;
            font-size: 0.8rem;
            margin-top: 0;
            margin-bottom: 1rem;
        }

        .work-description {
            margin-top: 1.0rem;

            li {
                color: $color-dark-gray;
                font-size: 1.0rem;
            }
        }
    }


/* #Main Menu
================================================== */

    // Small screens
    @media only screen {
        div#nex-menu #nex-menu-lastname {
            display: none;
        }
    } /* Define mobile styles */

    // Medium screens
    @media only screen and (min-width: 32.063em) {
        div#nex-menu #nex-menu-lastname {
            display: inline;
        }
    } /* min-width 641px, medium screens */


    div#nex-menu {

        font-family: $font-nexa;
        margin-top: 3.0rem;
        margin-bottom: 5.0rem;

        .row {

        }

        a {
            font-size: 5.0rem;
            text-transform: uppercase;
            color: $color-light-gray;
            display: block;
            width: 100%;
            padding: 0.6rem 0.6rem 0 0.6rem;

            -webkit-transition: color 100ms ease 100ms;
            -moz-transition: color 100ms ease 100ms;
            -o-transition: color 100ms ease 100ms;
            transition: color 100ms ease 100ms;
        }

        a:hover {
            color: $color-white;
            background: $color-light-red;
        }

        a:active {
            color: $color-white;
            background: $color-gray;
        }

        a.active {
            color: $color-white;
            background: $color-red;

            &:hover {
                background: $color-light-red;
            }

            &:active {
                color: $color-white;
                background: $color-gray;
            }
        }
    }



/* #Page Specific CSS */

/* #Home
================================================== */

    .home-background {
        background: url(/assets/images/bg/background_5.jpg) no-repeat fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        -webkit-box-shadow: inset 0 -35px 35px -20px #000, inset 0 35px 35px -20px #000;
        -moz-box-shadow: inset 0 -35px 35px -20px #000, inset 0 35px 35px -20px #000;
        box-shadow: inset 0 -35px 35px -20px #000, inset 0 35px 35px -20px #000;

        min-height: 100%;
        width: 100%;
        height: 100%;

        .home-title-quote {

            p {
                font-family: $font-rale;
                font-size: 2.2rem;
                font-weight: 300;
                color: $color-white;
                margin: 1rem 0;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
            }

            border-left: none;
            margin: 2rem 0 4rem;
            padding-bottom: 1rem;
        }
    }

    .home-posts {
        p, li {
            font-size: 1.0rem;
        }

        li {
            margin: 0.4rem 0;
        }

        h2 {
            font-size: 1.4rem;
            margin: 0;
            margin-bottom: 1rem;
        }

        margin: 2rem 0 4rem;
        padding-bottom: 1rem;
    }




/* #About
================================================== */

    .about-quotes {

        blockquote {
            border-left: 5px solid $color-red;

            padding: 1.2rem;
            margin: 2.4rem 0;

            p {
                font-size: 1.2rem;
                color: $color-dark-gray;
                padding: 0.6rem 1.6rem;
            }

            cite {
                color: $color-dark-gray;
                margin-bottom: 0.6rem;
            }
        }
    }

    .about-social {
        margin-bottom: 4rem;

        a {
            white-space: nowrap;
            text-align: center;
            margin: 0 0.6rem;

            span {
                font-size: 2.4rem;
            }

            &:link, &:visited {
                span {
                    color: $color-red;
                }
            }

            &:hover {
                span {
                    color: $color-gray;
                }
            }

            &:active {
                span {
                    color: $color-dark-gray;
                }
            }

        }
    }


/* #Blog
================================================== */

    .tags {
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    .next, .previous {
        font-family: $font-rale;
    }

    .paginator {
        .next, .previous {
            min-height: 100px;
            font-size: 2.8rem;
            font-family: $font-nexa;
            vertical-align: middle;
            text-align: center;

            background: $color-light-red;

            margin: 0;
        }

        .float-right {
            float: right;
        }
    }

    .post {
        margin-bottom: 8.0rem;
    }
