---
layout: default
title: blog
main: blog
sub: all
---

{% for post in paginator.posts %}

<div class="container">
	<div class="sixteen columns">
		<h2 class="no-vertical-margins">
			<a href="{{ post.url }}">
				<span class="h2-hover">{{ post.title }}</span>
				<span class="h2-nohover no-wrap">// {{ post.date | date:'%Y%m%d' }}</span>
			</a>
		</h2>
	</div>
	<div class="sixteen columns">
		<span class="disabled font-size-18 float-right">about {{ post.tags | array_to_sentence_string }}.</span>
	</div>
</div>

{% if post.div == false %}
<div>
	<div>
{% else %}
<div class="container">
	<div class="sixteen columns">
{% endif %}
		{{ post.content | markdownify}}
	</div>
</div>
<div class="container">
	<div class="sixteen columns">
		{% if post.comments %}
		<p>
			<a href="{{ post.url }}" class="float-right no-under">Discuss</a>
		</p>
		{% endif %}

		<hr class="line">
		<hr class="clear">
	</div>
</div>

{% endfor %}
