---
layout: default
title: blog
main: blog
sub: all
---


<div class="container">

	{% for post in paginator.posts %}

	<article class="post">

		<div class="sixteen columns">
			<h2 class="no-vertical-margins">
				<a href="{{ post.url }}">
					<span class="h2-hover">{{ post.title }}</span> 
					<span class="h2-nohover no-wrap">// {{ post.date | date:'%Y%m%d' }}</span>
				</a>
			</h2>
		</div>
		{% if post.div == false %}<div>{% else %}<div class="sixteen columns">{% endif %}
			{{ post.content }}
		</div>
	</article>
			<br />
			<hr class="line">
	{% endfor %}

</div>

<!--

<hr class="line">

<div class="container">

	<div class="sixteen columns">
		{% if paginator.previous_page %}
			{% if paginator.previous_page == 1 %}
				<h5><a href="/blog/" class="newer">NEWER POSTS</a></h5>
			{% else %}
				<h5><a href="/blog/{{paginator.previous_page}}" class="newer">NEWER POSTS</a></h5>
			{% endif %}
		{% endif %}
		{% if paginator.next_page %}
			<h5><a href="/blog/{{paginator.next_page}}" class="older">OLDER POSTS</a></h5>
		{% endif %}
		<div class="clear"></div>

	</div>

	<br />
	<br />

</div>

--> 