@import "modules/normalize";
@import "vendor/font-icomoon/icomoon";
@import "vendor/foundation/foundation.min";

@import "partials/page";
@import "partials/typography";
@import "partials/pygments";
@import "partials/syntax";
@import "partials/navigation";

@import "partials/home-page";
@import "partials/blog-page";
@import "partials/portfolio-page";
@import "partials/about-page";
@import "partials/resume-page";

@media print {
    body {
        font-size: 8pt;
        -webkit-print-color-adjust: exact;
    }

    p a, a {
        text-decoration: none;
    }

    a[href]:after {
        content: none !important;
    }

    .resume-page-contact {
        margin-top: -5.0rem;
    }

    * {
        -webkit-print-color-adjust: exact;
    }
}
