---
layout: default
title: productivity
main: blog
sub: productivity
---

<div class="container">
	<div class="sixteen columns">
		<p>
			All my productivity tools increase the speed at which I can perform a given task. That's essentially the point of programming. Sure, it can be done, but why would you spend <code class="in-line">5s</code> to do it, when it can be done in <code class="in-line">1s</code> if you learned something new?
		</p>
		<p>
			The most wasteful part of wasted time is the mental down time between productivity and distracted. While you may spend <code class="in-line">5s</code> being distracted, the mental down time can actually be <code class="in-line">30s</code>, which is huge.
		</p>
		<p>
			However, my personal goal is to decrease the number of clicks and keyboard presses and keyboard-to-mouse transitions. While Vim and Emacs do that, they sacrifice a lot of other functionality. Maybe I'll rewire my brain into them for later, but for now.
		</p>

		<blockquote>
			<p>
				We all have a finite number of keyboard presses in our lifetime, so we should do our best to increase the output of each press.
			</p>
			<p>
				We should try to do as much as we can with as little effort as we can manage, so we don't waste our valuable keypresses doing something that could've been done easier.
			</p>
		</blockquote>
	</div>
</div>




<div class="container">
	{% for post in site.posts %}
		{% if post.tags contains 'productivity' %}
		<div class="sixteen columns">
			<p>
				<h4>
					<a href="{{ post.url }}" class="block">
						<span class="h4-nohover">{{ post.date | date: "%Y%m%d"  }} </span>
						<span class="h4-hover">&nbsp;&raquo; {{ post.title }}&nbsp;</span>
					</a>
				</h4>
			</p>
			<p>
				{{ post.description }}
			</p>
		</div>
		{% endif %}
	{% endfor %}
</div>

<div class="container">
	<div class="sixteen columns">
		<p>
			<h4>
				<a href="http://ditto-cp.sourceforge.net/">
					<span class="h4-hover">Ditto</span>
				</a>
			</h4>
			The best clipboard history manager.
		</p>
	</div>
</div>


<div class="container">
	<div class="sixteen columns">
		<p>
			<h4>
				<a href="http://www.opera.com/">
					<span class="h4-hover">Opera</span>
				</a>
			</h4>
			A flexible, secure browser with built-in extensions.
			<ul class="square">
				<li>Opera Speed Dial</li>
				<li>Opera Link</li>
				<li>Opera Debug</li>
			</ul>
		</p>
		<p>
			<h4>
				<a href="https://www.google.com/intl/en/chrome/">
					<span class="h4-hover">Google Chrome</span>
				</a>
			</h4>
			Browser that runs Javascript the fastest.
			<ul class="square">
				<li>Chrome Developer Tools</li>
			</ul>
		</p>
		<p>
			<h4>
				<a href="http://getfirebug.com/">
					<span class="h4-hover">Firebug</span>
				</a>
			</h4>
			Best JavaScript and HTML debugger available.
		</p>
	</div>
</div>


<div class="container">
	<div class="sixteen columns">
		<p>
			<h4>
				<a href="http://www.sublimetext.com/">
					<span class="h4-hover">Sublime Text 2</span>
				</a>
			</h4>
			a ridiculously feature-rich plain text editor.
			<ul class="square">
				<li><a href="https://github.com/sergeche/zen-coding">Emmets</a>, a ex-Zen Coding abbreviation engine</li>
				<li><a href="http://wbond.net/sublime_packages/prefixr">Sublime Prefixr</a>, which runs CSS through the Prefixr API</li>
				<li><a href="https://github.com/SublimeText/WordHighlight">Word Highlight</a>, which highlights the same words</li>
			</ul>
		</p>
	</div>
</div>


<div class="container">
	<div class="sixteen columns">
		<p>
			<h4>
				<a href="http://www.rescuetime.com/">
					<span class="h4-hover">Rescue Time</span>
				</a>
			</h4>
			a background active program monitor that summarizes your weekly productivity with an email.
		</p>
	</div>
</div>



<div class="container">
	<div class="sixteen columns">
		<p>
			<h4>
				<a href="http://www.google.ca/reader">
					<span class="h4-hover">Google Reader</span>
				</a>
			</h4>
			a Cloud synced site subscription and RSS feed aggregator.
		</p>
	</div>
</div>

<hr class="clear">