@font-face {
  font-family: "Code Bold";
  src: url("../fonts/CODE Bold.otf");
}
@font-face {
  font-family: "Code Light";
  src: url("../fonts/CODE Light.otf");
}
@font-face {
  font-family: "Nexa Bold";
  src: url("../fonts/Nexa Bold.otf");
}
@font-face {
  font-family: "Nexa Light";
  src: url("../fonts/Nexa Light.otf");
}
@font-face {
  font-family: "Socialico";
  src: url("../fonts/Socialico.ttf");
}
@font-face {
  font-family: "Young";
  src: url("../fonts/Young.ttf");
}
@font-face {
  font-family: "Intro line";
  src: url("../fonts/Intro line.ttf");
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/Intro.ttf");
}


body {
    text-align: center;
}


.container {
    margin: 10px auto;
	padding-left: 10px;
	width: 70%;
	min-width: 500px;
	max-width: 800px;
}



#header {
    font-size: 1.3em;
    padding: 5px 0;
    text-align: left;
}
#header h1 {
    font-weight: bold;
    margin: 0;
    padding-top: 15px;
}
#header h1 a {
    color: #333333;
	border: none;
}


#content {
    text-align: left;
	position: relative;
}


article {
    margin-right: 0;
}



.post {
    font-size: 1.2em;
}
.post h3 {
    font-size: 36px;
    margin: 20px 0;
}
.post h3 a {
    color: #597A9B;
    font-size: 36px;
    margin: 20px 0;
}
.post .postbody {
    font-family: Georgia,"Times New Roman",serif;
}
.post .meta {
    border-color: #E8E8E8;
    border-style: double none;
    border-width: 3px;
    color: #696969;
    font-family: georgia;
    font-size: 100%;
    font-style: italic;
    height: 23px;
    padding: 5px 0;
}
.post .meta a {
    color: #696969;
    text-decoration: none;
}
.post .meta a:hover {
    color: #333333;
}



ul.pager {
    font-size: 1.1em;
    text-align: center;
}
ul.pager li {
    display: inline;
    margin-right: 5px;
}
ul.pager li.active a {
    text-decoration: none;
}
ul.archive {
    list-style: none outside none;
}
ul.archive li {
    margin: 0;
    padding: 0;
}
ul.links {
    list-style: none outside none;
    margin-bottom: 20px;
    padding: 0;
}
ul.links li {
    display: inline;
    margin: 0;
    padding: 0;
}
ul.links li:after {
    content: " / ";
}
ul.links li.first {
    font-weight: bold;
}
ul.links li.last:after, ul.links li.first:after {
    content: " ";
}
#footer {
    border-color: #E8E8E8;
    border-style: double none;
    border-width: 3px;
    color: #696969;
    font-family: georgia;
    font-size: 15px;
    font-style: italic;
    line-height: 30px;
    margin-top: 0;
    padding-top: 25px;
	position: relative;
}
.admin {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #AAAAAA;
    margin: 5px 0;
    padding: 3px 5px;
}


.navbar {
  clear:both;
  background-color: transparent;
  display: block;
  height: 36px;
}
.navbar ul {
  list-style: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.navbar ul li {
  display: inline;
  position: relative;
}
.navbar ul li a {
  float:left;
  height:34px;
  line-height:36px;
  text-align:center;
  text-decoration:none;
  display:block;
  font-size:1.2em;
  font-weight: normal;
  color:#444444;
  border-right:1px transparent;
  border-left:1px transparent;
  border-top:1px transparent;
  border-bottom:1px transparent;
  outline:none;
  cursor:pointer;
  overflow:hidden;    
	-webkit-transition: all 150ms ease-in-out 0s;
    -moz-transition: all 150ms ease-in-out 0s;
    -o-transition: all 150ms ease-in-out 0s;
    transition: all 150ms ease-in-out 0s;
}
.navbar ul li a:hover, 
.navbar ul li a.selected {
    background-color:#597A9B;
    color:#fff;
}
.navbar ul li a:active {
    background-color:#444;
    color:#fff;
}
ul.nav li.currentpage a {
    background-color:#444;
    color:#fff;
}
ul.nav li.currentpage a:hover, 
ul.nav li.currentpage a.selected {
    background-color:#597A9B;
    color:#fff;
}



.icon {
	padding: 5px 5px 5px 5px;
	text-align: left;
	padding-top: 30px;
	padding-bottom: 30px;
	float: left;
}
.icon a.icon-link {
	font-size: 60px;
	font-family: Socialico;
	color: #444;
    -webkit-transition: all 200ms ease-in-out 0s;
    -moz-transition: all 200ms ease-in-out 0s;
    -o-transition: all 200ms ease-in-out 0s;
    transition: all 200ms ease-in-out 0s;
}
.icon a.icon-link:hover {
	border: none;
	color: #597A9B;
}
	
a#feed-link {
    background: url("/images/icons.png") no-repeat scroll -9px -8px transparent;
}
a#facebook-link {
    background: url("/images/icons.png") no-repeat scroll -9px -44px transparent;
}
a#github-link {
    background: url("/images/icons.png") no-repeat scroll -9px -117px transparent;
}
a#twitter-link {
    background: url("/images/icons.png") no-repeat scroll -9px -80px transparent;
}
a#gmail-link {
    background: url("/images/icons.png") no-repeat scroll -9px -151px transparent;
}
a#linkedin-link {
    background: url("/images/icons.png") no-repeat scroll -9px -188px transparent;
}




header h1 a#sitetitle {
  text-decoration: none;
  font-decoration: none;
  background: none;
}
h2 a {
  text-decoration: none;
  font-decoration: none;
  background: none;
}
h2 a:focus, h2 a:hover {
  text-decoration: none;
  font-decoration: none;
  background: none;
}
h3 a {
  text-decoration: none;
  font-decoration: none;
  background: none;
}
h3 a:focus, h3 a:hover {
  text-decoration: none;
  font-decoration: none;
  background: none;
}




.pagination {
    font-size: 1.2em;
    margin: 10px;
    width: 99%;
}
.pagination .previous_link {
    float: left;
    padding-left: 25px;
}
.pagination .next_link {
    float: right;
    padding-right: 25px;
}
.older {
    float: right;
    padding-left: 25px;
}
.newer {
    float: left;
}
.permalink {
    float: right;
}
.published {
    float: left;
}
.older a {
    color: #597A9B;
}
.newer a {
    color: #597A9B;
}
