---
layout: default
title: productivity
main: about
sub: tools
---

<div class="container">
	<div class="sixteen columns">
		<p>
			Stuff that you should use or think about using because it's good for you.
		</p>

		<blockquote>
			<p>
				Why would you not want to do something faster?
			</p>
		</blockquote>
	</div>
</div>




<div class="container">
	{% for post in site.posts %}
		{% if post.tags contains 'productivity' %}
		<div class="sixteen columns">
			<p>
				<h4>
					<a href="{{ post.url }}" class="block">
						<span class="h4-nohover">{{ post.date | date: "%Y%m%d"  }} </span>
						<span class="h4-hover">&nbsp;&raquo; {{ post.title }}&nbsp;</span>
					</a>
				</h4>
			</p>
			<p>
				{{ post.description }}
			</p>
		</div>
		{% endif %}
	{% endfor %}
</div>

<div class="container">
	<div class="sixteen columns">
		<p>
			<h4>
				<a href="http://ditto-cp.sourceforge.net/">
					<span class="h4-hover">Ditto</span>
				</a>
			</h4>
			The best clipboard history manager.
		</p>
	</div>
</div>


<div class="container">
	<div class="sixteen columns">
		<p>
			<h4>
				<a href="http://www.opera.com/">
					<span class="h4-hover">Opera</span>
				</a>
			</h4>
			Most secure, highly flexible.
			<ul class="square">
				<li>Opera Speed Dial</li>
				<li>Opera Link</li>
				<li>Opera Debug</li>
			</ul>
		</p>
		<p>
			<h4>
				<a href="https://www.google.com/intl/en/chrome/">
					<span class="h4-hover">Google Chrome</span>
				</a>
			</h4>
			Very fast, very stable.
			<ul class="square">
				<li>Chrome Developer Tools</li>
				<li>Gestures for Chrome</li>
			</ul>
		</p>
		<p>
			<h4>
				<a href="http://getfirebug.com/">
					<span class="h4-hover">Firebug</span>
				</a>
			</h4>
			Best JavaScript and HTML debugger available.
		</p>
	</div>
</div>


<div class="container">
	<div class="sixteen columns">
		<p>
			<h4>
				<a href="http://www.sublimetext.com/">
					<span class="h4-hover">Sublime Text 2</span>
				</a>
			</h4>
			a ridiculously feature-rich plain text editor.
			<ul class="square">
				<li><a href="https://github.com/sergeche/zen-coding">Emmets</a>, a ex-Zen Coding abbreviation engine</li>
				<li><a href="http://wbond.net/sublime_packages/prefixr">Sublime Prefixr</a>, which runs CSS through the Prefixr API</li>
				<li><a href="https://github.com/SublimeText/WordHighlight">Word Highlight</a>, which highlights the same words</li>
			</ul>
		</p>
	</div>
</div>


<div class="container">
	<div class="sixteen columns">
		<p>
			<h4>
				<a href="http://www.rescuetime.com/">
					<span class="h4-hover">Rescue Time</span>
				</a>
			</h4>
			a background active program monitor that summarizes your weekly productivity with an email.
		</p>
	</div>
</div>



<div class="container">
	<div class="sixteen columns">
		<p>
			<h4>
				<a href="http://www.google.ca/reader">
					<span class="h4-hover">Google Reader</span>
				</a>
			</h4>
			a Cloud synced site subscription and RSS feed aggregator.
		</p>
	</div>
</div>

<hr class="clear">