<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <META HTTP-EQUIV="Expires" CONTENT="Tue, 01 Jan 1980 1:00:00 GMT">
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">

        <title>
            {{ site.title }}{%if page.title %} - {{ page.title }}{% endif %}
        </title>

        {% include standardhead.html %}

    </head>
    <body>
        <div class="row" id="nex-menu">
            <div class="small-12 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <a href="/" {% if page.main == "home" %}class="active"{% endif %}>
                            Victor<!--
                            --><span id="nex-menu-lastname"><!--
                                -->&nbsp;Lai<!--
                            --></span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">

                        <a href="/blog/" {% if page.main == "blog" %}class="active"{% endif %}>
                            <span>
                                Blog
                            </span>
                        </a>
                    </div>
                    <div class="small-12 columns">
                        <a href="/work/" {% if page.main == "work" %}class="active"{% endif %}>
                            <span>
                                Work
                            </span>
                        </a>
                    </div>
                    <div class="small-12 columns">
                        <a href="/about/" {% if page.main == "about" %}class="active"{% endif %}>
                            <span>
                                About
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {{ content }}

        {% include standardfoot.html %}

    </body>
</html>
