---
---
<div class="row">
    <div class="small-12 columns">
        <h2>
            <a href="{{ post.url }}" class="bg">
                {{ page.title }}
            </a>
        </h2>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <p class="tags">
            about {{ page.tags | array_to_sentence_string }}. posted on {{ page.date | date:'%B %d, %Y' }}
        </p>
    </div>
</div>

{% if page.pure_markdown == true %}
<div class="row">
    <div class="small-12 columns post">
        {{ content | markdownify }}
    </div>
</div>
{% else %}

{{ content | markdownify }}

{% endif %}

{% if page.comments %}
<div class="row">
    <div class="small-12 columns">
        {% include extensions/disqus.html %}
    </div>
</div>
{% endif %}
