---
layout: default
main: blog
sub: archives
---

<article class="post">
  <header class="container">
    <div class="sixteen columns">
      <h2>
        <a href="{{ page.url }}">
        {{ page.title }}
        <span class="date">
          // {{ page.date | date:'%Y%m%d' }}
        </span>
        </a>
      </h2>
    </div>
    <div class="sixteen columns">
      <p class="tags">
        about {{ page.tags | array_to_sentence_string }}.
      </p>
    </div>
  </header>

  <div class="content">
  {% if page.pure_markdown == false %}
    {{ content | markdownify }}
  {% else %}
    <div class="container">
      <div class="sixteen columns">
        {{ content | markdownify }}
      </div>
    </div>
  {% endif %}
  </div>

  {% if page.comments %}
  {% include disqus.html %}
  {% endif %}
</article>
