<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>
    {{ site.title }}{%if page.title%} &raquo; {{ page.title }}{%endif%}
  </title>
  
  <!-- Site Author -->
  <meta name="author" content="{{ site.author }}" />
  
  <!-- Site Description -->
  <meta name="description" content="{{ site.description }}" />

  <!-- Site Viewport -->
  <meta name="viewport" content="user-scalable=no,width=device-width" />

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Blog CSS -->
  {% include googlefonts.html %}
  <link href="/css/reset.css" media="projection,screen" rel="stylesheet" type="text/css" /> 

  <!-- Base CSS -->
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/header/header.css">
  <link rel="stylesheet" href="/css/footer/footer.css">
  <link rel="stylesheet" href="/css/skeleton/skeleton.css">
  <link rel="stylesheet" href="/css/layout.css">

  <!-- FontAwesome -->
  <link rel="stylesheet" href="/css/font-awesome/font-awesome.css">

  <!-- Syntax Highlighting CSS -->
  <link href="/css/syntax.css" rel="stylesheet" type="text/css" />

  <!-- Fav Icon -->
  <link href="/images/favicon.ico" rel="shortcut icon" /> 

{% include googleanalytics.html %}

</head>

<body>

    {% include header.html %}
    
<br />

<div class="container">
	<article class="post">

{{ content }}

	</article>
</div>


{% include footer.html %}

{% include resizemainmenu.html %}
{% include resizesubmenu.html %}

</body>

</html>


