<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>
    {{ site.title }}{%if page.title%} &raquo; {{ page.title }}{%endif%}
  </title>
  
  <!-- Site Author -->
  <meta name="author" content="{{ site.author }}" />
  
  <!-- Site Description -->
  <meta name="description" content="{{ site.description }}" />

  <!-- Site Viewport -->
  <meta name="viewport" content="user-scalable=no,width=device-width" />

  <!-- Blog CSS -->
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans|Yanone+Kaffeesatz" media="projection, screen" rel="stylesheet" type="text/css" />
  <link href="/css/reset.css" media="projection,screen" rel="stylesheet" type="text/css" /> 
  <link href="/css/screen.css" media="projection,screen" rel="stylesheet" type="text/css" /> 
  <link href="/css/custom.css" media="all" rel="stylesheet" type="text/css" />

  <!-- Syntax Highlighting CSS -->
  <link href="/css/syntax.css" rel="stylesheet" type="text/css" />

  <!-- Fav Icon -->
  <link href="/favicon.ico" rel="shortcut icon" /> 
</head>

<body>
  <div class="container">

    {% include navbar.html %}

    <div class="span-16" id="content">	
	  <br />
      {{ content }}
    </div>

    {% include footer.html %}
  </div>
	{% include navbarsize.html %}
	{% include navbarcurr.html %}
</body>

</html>
